<div class="right_side">
<ul class="verticalslider_tabs right_side">
    <li class="contact_us_link"><a class="about" href="/main/about" id="about_us">About Us</a></li>
    <li class="features_link"><a class="contact" href="/main/contact">Contact Us</a></li>
    <li class="contact_us_link"><%= link_to "Privacy & Terms", { :controller => 'main', :action => 'privacy' },  { :class => "privacy" } %></li>
  </ul>
</div>
