<div class="right_side">
<ul class="verticalslider_tabs right_side">
    <li class="contact_us_link"><a href="/main/about" id="about_us">About Us</a></li>
    <li class="features_link"><a href="/main/contact">Contact Us</a></li>
    <li class="contact_us_link"><%= link_to "Privacy & Terms", :controller => 'main', :action => 'privacy' %></li>
  </ul>
</div>
