<div class="right_side">
  <ul class="verticalslider_tabs right_side">
    <li class="contact_us_link"><a class="faqs"  href="/main/faqs" id="faqs">FAQs</a></li>
    <li class="features_link"><a class="guidelines" id="guidelines" href="/main/guidelines">Guidelines</a></li>
  </ul>
</div>
