<% content_for :html_title, 'About Us' %>
<div class="content">
  <div class="how_it_work_left_side">
	    <div class="seller_back">
	    <div class="create_heading_box message_heading_box">
	      <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">About Us</h1>
      </div>
        <div style="padding:10px 0px" class="sign_up_box paragraph" id="tabOne">
          <h4 style="margin-top:0px; border-top:0px;">Our Mission</h4>
          <p>Research Nation is a social marketplace for research reports and datasets.</p>
		  <h4>How It Works</h4>
          <b style="margin-top:0px;">1. Sign Up or Log In</b>
          <p>Our site is free to use, and it takes 30 seconds to sign up.</p>
          <b>2. Create a Post</b>
          <p>Click on the 'create' link in the header, and create a teaser for your new offering (or, sell an existing document, also through the 'create' link). Examples of documents you can sell or offer to sell through us include: research reports, datasets, graphs, charts, interview transcripts, survey results, and more.</p>
          <b>3. Respond to Requests</b>
          <p>You receive an e-mail whenever your document is requested, or purchased. Instructions for responding are included in the e-mail.</p>
          <h4>Management Team</h4>
          <div class="field">
            <img src="/images/user_pic.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Faisal Khalid, Co-Founder & CEO</b>
            <p style=" float:none; width:460px;"> Faisal manages design and business affairs at Research Nation. He holds a Bachelor of Arts (Economics) degree from Harvard College, MBA from the Kellogg School of Management, and is a CFA charterholder. In the past, Faisal ran a successful financial consulting firm, which he founded as well.</p>
          </div>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Ali Ibrahim.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Ali Ibrahim, Co-Founder</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Ali leads development at Research Nation, and is a Ruby on Rails and SEO expert. Ali has worked on various commercial deployments in the past, including VC/angel-funded ones such as AboutUs.org and Vator.tv. Until recently, Ali ran a nine-person software development firm, which he co-founded.</p>
          </div>
          <h4>Advisory Board</h4>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Lenny_Murphy.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Lenny Murphy, Advisor</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Lenny is a visionary leader in market research, with 20+ years industry experience, as an entrepreneur and CEO of various market research firms. He is Editor-in-Chief of The Green Book Blog, CEO of BrandScan 360, and Chairman of the 2nd International Conference on Market Research in the Mobile World.</p>
          </div>
          <h4>Stay Informed!</h4>
          <div class="email_box">
            <% form_tag (:controller => 'users', :action => 'subscribe_newsletter') do %>
            <div class="send_mail">
              <label>Sign Up for our monthly newsletter</label>
              <%= text_field 'user', 'email', :value => "Your email address", :class => "email_addres" %>
            </div>
           <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'how_it_works_links'%>
  </div>
  <script type="text/javascript" language="javascript" charset="utf-8">

      if($('#email_address')){
        $('#email_address').blur(function(){
          $(this).removeClass("error_field");
        });
      }

      $('#user_email').click(function(){
        $(this).val("");
        $(this).css("color","#000");
      });

      $("form").submit(function(){
        if ($("#user_email").val()==""){
          $('#user_email').addClass("error_field");
          return false;
        }
      });
  </script>
