<div class="left_side">
<form name="Contact_us">
          <div class="field">
            <h2>We want to hear from you!</h2>
            <textarea name="About_you" style="width:580px; margin-bottom:10px;"></textarea>
            <a href="#" style="margin:0px !important;">Submit Feedback</a>
          </div>
        </form>
        <div class="field">
          <h2>The Story</h2
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
        </div>
        <h2>Team</h2>
        <div class="field">
          <img src="/images/user_pic.jpg" />
          <b>Faisal Khalid, Founder & CEO</b>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="field">
          <img src="/images/Ali Ibrahim.jpg" />
          <b>Ali Ibrahim, CTO</b>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
        </div>
        <div class="field">
          <h2>Vote on New Features</h2>
          <div class="facebook_like1">
            <span> 1) Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
            <a href="#">Like</a>
          </div>
          <div class="facebook_like2">
            <span> 2) Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
            <a href="#">Like</a>
          </div>
          <div class="facebook_like3">
            <span> 3) Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
            <a href="#">Like</a>
          </div>
          <div class="field">
            <h2>Get on the Koala Express!</h2>
            <input type="text" size="40" value="Enter Your Email Address" name="E-mail" />
            <a href="#">Enter</a>
          </div>
        </div>
      </div>
