<% content_for :html_title, 'About Us' %>
<div class="content">
  <div class="how_it_work_left_side">
	    <div class="seller_back">
	    <div class="create_heading_box message_heading_box">
	      <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">About Us</h1>
      </div>
        <div style="padding:10px 0px" class="sign_up_box paragraph" id="tabOne">
          <h4 style="margin-top:0px; border-top:0px;">Our Mission</h4>
          <p>Research Nation provides user-generated reviews for market research reports.<br><br>The problem we aim to solve is quality assessment. With most products that one buys online nowadays, one reads reviews before buying. For example, when you buy books, you read Amazon reviews before buying. When you book a hotel room, you read TripAdvisor reviews before booking. With market research reports - for example, reports published by Datamonitor or Euromonitor - people spend on average a few thousand dollars per report, and yet there is no way to gauge quality, or no place to read reviews before buying.<br><br>We hope to fix this problem by allowing users to find, read and create reviews for any industry, company or country report. No other website currently does this.</p>
  		  <h4>Our Company</h4>
          <p>Research Nation was founded in London, United Kingdom, in 2011, and is incorporated as a limited liability corporation (LLC) in the State of Delaware in the United States of America.</p>
  		  <h4>Our Team</h4>
          <div class="field">
            <img src="/images/user_pic.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Faisal Khalid, Co-Founder & CEO</b>
            <p style="float:none; width:460px;"> Faisal manages design and business affairs at Research Nation. He holds a Bachelor of Arts (Economics) degree from Harvard College, an MBA from the Kellogg School of Management, and is a CFA charterholder.<br><br>Prior to founding Research Nation, Faisal ran a successful financial consulting firm, and worked at a private equity firm. Faisal lives in London, United Kingdom, and is the author of an e-book titled "It’s a Whole New Animal: Optimizing Search Ranking on Google Panda."</p>
          </div>
          <div class="field">
            <img src="/images/Ali Ibrahim.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Ali Ibrahim, Co-Founder</b>
            <p style="float:none; width:460px;">Ali leads development at Research Nation, and is a Ruby on Rails and SEO expert. Ali has worked on various commercial deployments in the past, including VC/angel-funded ones such as AboutUs.org and Vator.tv. Until recently, Ali ran a nine-person software development firm, which he co-founded.</p>
          </div>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Douglas Roper.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Douglas Roper, Co-Founder</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Douglas is a software engineer with expertise in Ruby on Rails, and experience in the market research industry. In his day job, Douglas is a developer at a leading VC-backed e-commerce startup in London. Prior to this, Douglas was a developer at InternetMR, a leading market reearch firm.</p>
          </div>
          <h4>Our Partners</h4>
          <p>ReportBuyer.com is a leading market research reports reseller based in London, United Kingdom, with an inventory of 230,000+ reports, all of which are available to review on our website.</p>
          <h4>Newsletter Sign-Up</h4>
          <div class="email_box">
            <% form_tag (:controller => 'users', :action => 'subscribe_newsletter') do %>
            <div class="send_mail">
              <label>Sign Up for our monthly newsletter</label>
              <%= text_field 'user', 'email', :value => "Your email address", :class => "email_addres" %>
            </div>
           <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'how_it_works_links'%>
  </div>
  <script type="text/javascript" language="javascript" charset="utf-8">

      if($('#email_address')){
        $('#email_address').blur(function(){
          $(this).removeClass("error_field");
        });
      }

      $('#user_email').click(function(){
        $(this).val("");
        $(this).css("color","#000");
      });

      $("form").submit(function(){
        if ($("#user_email").val()==""){
          $('#user_email').addClass("error_field");
          return false;
        }
      });
  </script>
