<% content_for :html_title, 'About Us' %>
<div class="content">
  <div class="how_it_work_left_side">
	    <div class="seller_back">
	    <div class="create_heading_box message_heading_box">
	      <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">About Us</h1>
      </div>
        <div style="padding:10px 0px" class="sign_up_box paragraph" id="tabOne">
          <h4 style="margin-top:0px; border-top:0px;">Our Mission</h4>
          <p>Research Nation provides user-generated reviews for market research reports and market research service providers.<br><br>The problem we aim to solve is quality assessment. With most products that one buys online nowadays, one reads reviews before buying. For example, when you buy books, you read Amazon reviews before buying. When you book a hotel room, you read TripAdvisor reviews before booking. With market research reports - for example, reports published by Datamonitor or Euromonitor - people spend on average a few thousand dollars per report, and yet there is no way to gauge quality, or no place to read reviews before buying. We hope to fix this by allowing users to find, read and create reviews for any industry, company or country report, or service provider.</p>
		  <h4>Our Story</h4>
          <p>The idea for Research Nation came from one of the previous startups that Faisal worked on in the hotel industry in the United Kingdom. He did a lot of research (primary and secondary) on the hotel industry, and spent many hours transcribing his insights and collating data on the hotel industry. Unfortunately the startup didn't work out. That was fine, but what frustrated Faisal was that there was no way to put his knowledge to use: it seemed a waste to let all his research go to waste. In order to solve this problem, Faisal teamed up with Ali and Doug, and decided to create a knowledge-sharing platform, where he could publish his insights: sort of like a McKinsey Global Institute, on the web, and open to everyone.<br><br>It seemed perfect - except, it wasn't. It didn't get much traction, and after spending a few weeks testing this idea, we realized that there were too many privacy and copyright concerns with knowledge-sharing. So, we did what any good entrepreneur would have done: he started speaking to his potential users, to figure out what they wanted. After almost 200 phone calls, emails and Skype chats, we realized that the biggest pain point that research buyers have today is that they have no way of gauging quality of research reports before they buy them. This is the problem we aim to solve.</p>
  		  <h4>Our Company</h4>
          <p>Research Nation was founded in London, United Kingdom, in March 2011, and will be launching soon.</p>
  		  <h4>Our Team</h4>
          <div class="field">
            <img src="/images/user_pic.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Faisal Khalid, Co-Founder & CEO</b>
            <p style="float:none; width:460px;"> Faisal manages design and business affairs at Research Nation. He holds a Bachelor of Arts (Economics) degree from Harvard College, an MBA from the Kellogg School of Management, and is a CFA charterholder.<br><br>Prior to founding Research Nation, Faisal ran a successful financial consulting firm, and worked at a private equity firm. Faisal lives in London, United Kingdom, and is the author of an e-book titled "An SEO Survival Guide for Small Businesses in a Post-Panda World."</p>
          </div>
          <div class="field">
            <img src="/images/Ali Ibrahim.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Ali Ibrahim, Co-Founder</b>
            <p style="float:none; width:460px;">Ali leads development at Research Nation, and is a Ruby on Rails and SEO expert. Ali has worked on various commercial deployments in the past, including VC/angel-funded ones such as AboutUs.org and Vator.tv. Until recently, Ali ran a nine-person software development firm, which he co-founded.</p>
          </div>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Douglas Roper.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Douglas Roper, Co-Founder</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Douglas is a software engineer with expertise in Ruby on Rails, and experience in the market research industry. In his day job, Douglas is a developer at a leading VC-backed e-commerce startup in London. Prior to this, Douglas was a developer at InternetMR, a leading market reearch firm.</p>
          </div>
          <h4>Our Advisors</h4>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Lenny_Murphy.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Lenny Murphy, Advisor</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Lenny is a visionary leader in market research, with 20+ years industry experience, as an entrepreneur and CEO of various market research firms. He is Editor-in-Chief of The Green Book Blog, CEO of BrandScan 360, and Chairman of the 2nd International Conference on Market Research in the Mobile World.</p>
          </div>
          <h4>Newsletter Sign-Up</h4>
          <div class="email_box">
            <% form_tag (:controller => 'users', :action => 'subscribe_newsletter') do %>
            <div class="send_mail">
              <label>Sign Up for our monthly newsletter</label>
              <%= text_field 'user', 'email', :value => "Your email address", :class => "email_addres" %>
            </div>
           <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'how_it_works_links'%>
  </div>
  <script type="text/javascript" language="javascript" charset="utf-8">

      if($('#email_address')){
        $('#email_address').blur(function(){
          $(this).removeClass("error_field");
        });
      }

      $('#user_email').click(function(){
        $(this).val("");
        $(this).css("color","#000");
      });

      $("form").submit(function(){
        if ($("#user_email").val()==""){
          $('#user_email').addClass("error_field");
          return false;
        }
      });
  </script>
