<div class="content">
  <div class="how_it_work_left_side">
	    <div class="seller_back">
        <span class="sign_up" id="tab2">Our Mission</span>
        <div style="padding:10px 0px" class="sign_up_box" id="tabOne">
          <p>Research Nation was founded in 2010 in London, with the goal of becoming the world's most open and collaborative marketplace for high quality, original market research. We're on a mission to fundamentally change the business intelligence is consumed in the marketplace today, and here's how we're going to do it:</p>
          <b>Empowering Individuals</b>
          <p>To publish, share and sell their intelligence in a secure, trusted environment. Knowledge sharing already happens in smaller groups - at places like McKinsey, where there is a McKinsey Research Institute where employees collaborate and publish their insights. We want to recreate this model - but in a forum and manner that benefits far more people.</p>
          <b>Providing a Platform</b>
          <p>To hundreds of freelancers and small firms that produce high quality research, but nowhere to sell. This platform can also help bring change to larger firms, by giving them a secure avenue for creating and selling new products such as singles/chapters only and white label offerings</p>
          <b>Focusing on Quality</b> 
          <p>And giving buyers the tools they need to assess quality before they spend their money. Reviews, sources, samples and easy comparison tools are all things we plan to use0 We're on a movement to democratize the market research industry - and we need you to join us!</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Team</span>
        <div style="padding:10px 0px" class="sign_up_box" id="tabOne">
          <div class="field">
            <img src="/images/user_pic.jpg" />
            <b style="margin-top:0px;">Faisal Khalid, Founder & CEO</b>
            <p>Faisal is the founder of Research Nation. He got his bachelor's degree from Harvard College, MBA from Kellogg, and is a CFA charterholder. Prior to founding Research Nation, he was running a small research and consulting firm, and in the past was a banker with Citigroup</p>
          </div>
          <div class="field">
            <img src="/images/Ali Ibrahim.jpg" />
            <b style="margin-top:0px;">Ali Ibrahim</b>
            <p>Ali is the technical lead at Research Nation. He used to run his own software development firm until recently, and is a 2007 Computer Science undergrad. He currently leads the Research Nation technical team, which (including Ali) comprises 2 software engineers, and 1 designer.</p>
          </div>
        </div>
      </div>
    <!--
    <ul>
      <li>
        <div class="field">
          <h1>Our Mission</h1>
          <span>Research Nation was founded in 2010 in London, with the goal of becoming the world's most open and collaborative marketplace for high quality, original market research. We're on a mission to fundamentally change the business intelligence is consumed in the marketplace today, and here's how we're going to do it:</span>

          <h3>Empowering Individuals</h4>
          <span>To publish, share and sell their intelligence in a secure, trusted environment. Knowledge sharing already happens in smaller groups - at places like McKinsey, where there is a McKinsey Research Institute where employees collaborate and publish their insights. We want to recreate this model - but in a forum and manner that benefits far more people.</span>

          <h3>Providing a Platform</h3>
          <span>To hundreds of freelancers and small firms that produce high quality research, but nowhere to sell. This platform can also help bring change to larger firms, by giving them a secure avenue for creating and selling new products such as singles/chapters only and white label offerings</span>

          <h3>Focusing on Quality</h3> 
          <span style="margin-bottom:30px;">And giving buyers the tools they need to assess quality before they spend their money. Reviews, sources, samples and easy comparison tools are all things we plan to use0 We're on a movement to democratize the market research industry - and we need you to join us!</span>
        </div>
        <h1>Team</h1>
        <div class="field">
          <img src="/images/user_pic.jpg" />
          <b>Faisal Khalid, Founder & CEO</b>
          <p>Faisal is the founder of Research Nation. He got his bachelor's degree from Harvard College, MBA from Kellogg, and is a CFA charterholder. Prior to founding Research Nation, he was running a small research and consulting firm, and in the past was a banker with Citigroup</p>
        </div>
        <div class="field">
          <img src="/images/Ali Ibrahim.jpg" />
          <b>Ali Ibrahim</b>
          <p>Ali is the technical lead at Research Nation. He used to run his own software development firm until recently, and is a 2007 Computer Science undergrad. He currently leads the Research Nation technical team, which (including Ali) comprises 2 software engineers, and 1 designer.</p>
        </div>
      </li>
    </ul>
    -->
  </div>
    <%= render :partial => 'contact_links' %>
  </div>
