<% content_for :html_title, 'About Us' %>
<div class="content">
  <div class="how_it_work_left_side">
	    <div class="seller_back">
	    <div class="create_heading_box message_heading_box">
	      <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">About Us</h1>
      </div>
        <div style="padding:10px 0px" class="sign_up_box paragraph" id="tabOne">
          <h4 style="margin-top:0px; border-top:0px;">Our Company</h4>
          <p>You can use us to find, buy and sell datasets, research reports and various other forms of business intelligence.</p>
		 <h4>Why We're Doing This</h4>
		  <p>Finding datasets and research reports online is <i>painful</i>. Most aggregator websites are horrible - they look like they were built in 1999. In contrast, when you search through us, you get a clean, simple interface with tags and filters to expedite your search. We're not perfect - but we do think we're much less of a pain to use than the other options available.</p><br>
          <p>It also really sucks to pay thousands of dollars for a research report, only to find it's useless. Think about it: you have Amazon for book reviews, TripAdvisor for hotel reviews...shouldn't there be something for data and research report reviews? Yep, that's us.</p><br>
          <p>Finally, we believe every one deserves a chance. We don't try to pick and chose who can sell on our site. Anyone can - be it a company, or a market research firm. In today's data-rich world, there are hundreds of small businesses and startups that have a wealth of knowledge to share: and we let them do that.</p>
          <h4>How To Use Research Nation</h4>
          <b style="margin-top:0px;">Sell Something</b>
          <p>Examples of things you can sell include datasets, research reports, chapters of reports, graphs, charts and much more. Click on 'Sell' in the header to get started.</p>
          <b>Post an Idea</b>
          <p>Not sure if there's a market for your offering? Want to gauge demand for a potential new dataset or report? Try our post an idea feature (it's free). If buyers like what you're offering, they will message you, and you can then customize your offering for them. Click on 'Sell' in the header to get started.</p>
          <b>Add Reviews</b>
          <p>Add reviews for companies you know on our site, or datasets/reports you've read. Our community relies on a constant feedback loop via reviews, so please do take time to share your reviews.</p>
          <h4>Management Team</h4>
          <div class="field">
            <img src="/images/user_pic.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Faisal Khalid, Co-Founder & CEO</b>
            <p style=" float:none; width:460px;"> Faisal manages design and business affairs at Research Nation. He holds a Bachelor of Arts (Economics) degree from Harvard College, MBA from the Kellogg School of Management, and is a CFA charterholder. In the past, Faisal ran a successful financial consulting firm, which he founded as well.</p>
          </div>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Ali Ibrahim.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Ali Ibrahim, Co-Founder</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Ali leads development at Research Nation, and is an RoR and SEO expert. Ali has worked on various commercial deployments in the past, including VC/angel-funded ones such as AboutUs.org and Vator.tv. Until recently, Ali ran a nine-person software development firm, which he co-founded.</p>
          </div>
          <h4>Advisory Board</h4>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Lenny_Murphy.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Lenny Murphy, Advisor</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Lenny is a visionary leader in market research, with 20+ years industry experience, as an entrepreneur and CEO of various market research firms. He is Editor-in-Chief of The Green Book Blog, CEO of BrandScan 360, and Chairman of the 2nd International Conference on Market Research in the Mobile World.</p>
          </div>
          <h4>Stay Informed!</h4>
          <div class="email_box">
            <% form_tag (:controller => 'users', :action => 'subscribe_newsletter') do %>
            <div class="send_mail">
              <label>Sign Up for our monthly newsletter</label>
              <%= text_field 'user', 'email', :value => "Your email address", :class => "email_addres" %>
            </div>
           <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'how_it_works_links'%>
  </div>
  <script type="text/javascript" language="javascript" charset="utf-8">

      if($('#email_address')){
        $('#email_address').blur(function(){
          $(this).removeClass("error_field");
        });
      }

      $('#user_email').click(function(){
        $(this).val("");
        $(this).css("color","#000");
      });

      $("form").submit(function(){
        if ($("#user_email").val()==""){
          $('#user_email').addClass("error_field");
          return false;
        }
      });
  </script>
