<% content_for :html_title, 'About Us' %>
<div class="content">
  <div class="how_it_work_left_side">
	    <div class="seller_back">
	    <div class="create_heading_box message_heading_box">
	      <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">About Us</h1>
      </div>
        <div style="padding:10px 0px" class="sign_up_box paragraph" id="tabOne">
          <h4 style="margin-top:0px; border-top:0px;">Our Story</h4>
          <p>Research Nation is a social marketplace for research reports and datasets, that was founded in London, United Kingdom, in March 2011. We are currently in testing mode, and will be launching the site soon.</p><br>
  		  <p>The idea for Research Nation came from a prior startup that Faisal worked on in the hotel industry. At the end of that project, Faisal realized that he had gathered a lot of market information - through interviews, secondary research and surveys - and gained insights, but had no forum for making this information useful. Research Nation emerged from that experience, as a way for individuals and companies to share their knowledge and insights.</p><br>
		 <p>At Research Nation, we are driven by a desire to expand the frontiers of knowledge - by giving experts, market research firms, and other companies that possess expert knowledge and data, the ability to share, and monetize their insights in a hassle-free manner.</p> 
		  <h4>Our Value Proposition</h4>
          <b style="margin-top:0px;">For Buyers</b>
          <p>For buyers we make it dead-simple and easy to find what you are looking for, and provide a comprehensive solution.</p><br>
          <p>You can use us to (1) purchase a research report/dataset from our store; and/or (2) contact a market research firm or individual listed in our directory, to create a custom report.</p>
          <b>For Sellers (Companies)</b>
          <p>For sellers that are market research firms or other companies, we provide a path for acquiring new customers, and a flexible platform that allows you to engage directly with prospective customers, through direct messaging and social sharing.</p><br>
          <p>Our sales and marketing strategy is contact-based, which means that we reach out to our network of contacts at various firms directly (in addition to SEO optimization).</p>
          <b>For Sellers (Individuals)</b>
          <p>For sellers that are individuals, we offer the chance to build expertise, share your knowledge, and make money.</p><br>
          <p>If you have specific insights to share, you can do so either by selling a report/dataset, or by creating a teaser (in which case you only have to create the report/dataset as and when it's requested).</p><br>
          <p>If you have industry expertise to share but don't want to bother creating a report/dataset, simply add yourself to our directory (by signing up and completing your profile), and make yourself available for expert requests (you set your own hourly rates).</p>
          <h4>Management Team</h4>
          <div class="field">
            <img src="/images/user_pic.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Faisal Khalid, Co-Founder & CEO</b>
            <p style=" float:none; width:460px;"> Faisal manages design and business affairs at Research Nation. He holds a Bachelor of Arts (Economics) degree from Harvard College, MBA from the Kellogg School of Management, and is a CFA charterholder. In the past, Faisal ran a successful financial consulting firm, which he founded as well.</p>
          </div>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Ali Ibrahim.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Ali Ibrahim, Co-Founder</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Ali leads development at Research Nation, and is a Ruby on Rails and SEO expert. Ali has worked on various commercial deployments in the past, including VC/angel-funded ones such as AboutUs.org and Vator.tv. Until recently, Ali ran a nine-person software development firm, which he co-founded.</p>
          </div>
          <h4>Advisory Board</h4>
          <div class="field" style="margin-bottom:0px;">
            <img src="/images/Lenny_Murphy.jpg" />
            <b style="margin-top:0px; margin-left:0px;">Lenny Murphy, Advisor</b>
            <p style="margin-bottom:0px; float:none; width:460px;">Lenny is a visionary leader in market research, with 20+ years industry experience, as an entrepreneur and CEO of various market research firms. He is Editor-in-Chief of The Green Book Blog, CEO of BrandScan 360, and Chairman of the 2nd International Conference on Market Research in the Mobile World.</p>
          </div>
          <h4>Newsletter Sign-Up</h4>
          <div class="email_box">
            <% form_tag (:controller => 'users', :action => 'subscribe_newsletter') do %>
            <div class="send_mail">
              <label>Sign Up for our monthly newsletter</label>
              <%= text_field 'user', 'email', :value => "Your email address", :class => "email_addres" %>
            </div>
           <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'how_it_works_links'%>
  </div>
  <script type="text/javascript" language="javascript" charset="utf-8">

      if($('#email_address')){
        $('#email_address').blur(function(){
          $(this).removeClass("error_field");
        });
      }

      $('#user_email').click(function(){
        $(this).val("");
        $(this).css("color","#000");
      });

      $("form").submit(function(){
        if ($("#user_email").val()==""){
          $('#user_email').addClass("error_field");
          return false;
        }
      });
  </script>
