<div class="content">
  <div class="content_back">
  	<h2 class="profile_heading" style="text-align:center; width:100%; margin-bottom:20px !important;">Browse</h2>
    <div class="profile_boxs">
    	<div class="profile_box post_box">
        <a href="/resources/view_posts" class="inner_profile_box inner_post_box">
        	<img src="/images/bulb.png" />
          <span>Posts</span>
        </a>
      </div>
      <div class="profile_box post_box">
        <a href="/profiles/view_profile_list" class="inner_profile_box inner_post_box">
        	<img src="/images/1303299545_devid.png" />
          <span>Profiles</span>
        </a>
      </div>
    </div>
  </div>
</div>
