<div class="content">
  <div class="how it how_it_work_left_side">
	    <div class="seller_back">
        <span class="sign_up" id="tab2">Easy to Use, Easy to Understand</span>
        <div style="padding:10px 0px" class="sign_up_box" id="tabOne">
          <p>Research Nation's easy to use format means that you can find what you're looking for in less than 30 seconds</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Focus on Quality</span>
        <div style="padding:10px 0px" class="sign_up_box" id="tabOne">
          <p>At Research Nation, you only pay for what you want. No need to buy a 50 page report when all you really need is 2 pages. All our reports are under 5 pages.</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Reviews and Recommendations</span>
        <div style="padding:10px 0px" class="sign_up_box" id="tabOne">
          <p>Most sites make you spend US$1,000 without providing any reviews or comments to help you decide. We do things differently - try and let us know if you like it!</p>
        </div>
      </div>
    <!--
    <ul>
      <li>
        <h1>Simple, Original, High Quality Research</h1>
        <div class="how_it_works_field">
          <div class="image_box">
            <img src="/images/browse.jpg" />
          </div>
          <div class="text_box">
            <h3>Easy to Use, Easy to Understand</h3>
            <p>Research Nation's easy to use format means that you can find what you're looking for in less than 30 seconds</p>
          </div>
        </div>
        <div class="how_it_works_field2">
          <div class="text_box">
            <h3>Focus on Quality</h3>
            <p>At Research Nation, you only pay for what you want. No need to buy a 50 page report when all you really need is 2 pages. All our reports are under 5 pages.</p>
          </div>
          <div class="image_box">
            <img src="/images/overprice.jpg" style="width:200px;" />
          </div>
        </div>
        <div class="how it how_it_works_field">
          <div class="image_box">
            <img src="/images/flying_brid.jpg" />
          </div>
          <div class="text_box">
            <h3>Reviews and Recommendations</h3>
            <p>Most sites make you spend US$1,000 without providing any reviews or comments to help you decide. We do things differently - try and let us know if you like it!</p>
          </div>
       </div>
      </li>
    </ul>
    -->
  </div>
  <%= render :partial => 'how_it_works_links' %>
</div>
