<%= stylesheet_link_tag 'style'%>
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
  <% @requests.each do |request| %>
  <div class="post">
    <img src="http://graph.facebook.com/<%= request.user.facebook_uid %>/picture" />
   
    <div class="description">
      <%= link_to request.title , :controller => "requests", :action => "what_others_are_requesting", :id => request.id %>
    </div>
    <div class="message">

    <a href="skype:<%= request.user.skype_name%>?chat"><img src="http://download.skype.com/share/skypebuttons/buttons/chat_green_transparent_97x23.png" style="border: none;" width="97" height="23" alt="Chat with me" /></a>


      <input class="mail_button" type="button" name="mail" value="" />
      <span>2 mutual friends</span>
    </div>
    <div class="download"><a href="#">delete</a></div>
  </div>
  <% end %>
