<div class="content">
  <div class="content_back">
    <div class="profile_boxs">
    	<div class="profile_box post_box">
        <b>Create a Post</b>
        <a href="/resources/new" class="inner_profile_box inner_post_box">
        	<img src="/images/bulb.png" />
        </a>
      </div>
      <div class="profile_box">
        <b>Create a Profile</b>
      	<a href="/profiles/company?profile_type=company" class="inner_profile_box">
        	<img src="/images/1303299529_Home.png" />
          <span>Company</span>
        </a>
        <a href="/profiles/individual?profile_type=individual" class="inner_profile_box">
        	<img src="/images/1303299545_devid.png" />
          <span>Individual</span>
        </a>
      </div>
    </div>
  </div>
</div>
