<div class="content">
  <div class="how_it_work_left_side">
    <ul>
      <li>
        <div class="how_it_works_field">
          <h1>Why Entrepreneurs Love Us</h1>
          <img src="/images/1303124859_money_bag.png" style="margin-top: 18px;"/>
          <h3>Make money from your startup</h3>
          <p>Wondering how you can make money off of a failed startup? Share your lesson learned and the market research that you did. It's easier than starting a blog, and much, much better than letting the files go to waste on your hard drive!</p>
        </div>
        <div class="how_it_works_field2">
          <h3>Establish functional expertise</h3>
          <p>Publish your insights - get recognized. You don't need to have a PhD to be an expert, you just need to have real-world experiences that you've learnt something from</p>
          <img src="/images/1303123352_keditbookmarks.png" style="margin-left: 6px;"/>
        </div>
      </li>
    </ul>
  </div>
  <%= render :partial => 'how_it_works_links' %>
</div>
