<div class="content">
	<div class="how_it_work_left_side">
		<ul>
		  <li>
			<h1 id="link1">General Questions</h1>
		  <h3>What is Research Nation?</h3>
		  <p>Research Nation is an online marketplace for market research</p>
		  <h3>What's different about it?</h3>
		  <p>All content is user-generated and limited in length (5 pages maximum), and everything we put on the site is reviewed, rated, and fully curated.</p>
		  <h3>How do you select buyers?</h3>
		  <p>Anyone is free to buy research on the site. Most research will be for less than US$100, which means that it will be affordable to individuals and small businesses.</p>
		  <h3>How do you guarantee quality?</h3>
		  <p>Quality is very important to us and we ensure it through a couple of checks. First, we read, edit and review every single file that is uploaded onto our site. If something doesn't meet our quality standards, it won't be allowed. Second, we rate each review and the good ones will be given a  koala standard stamp of approval. Finally, every report comes with user reviews (powered through Facebook, so minimal spam), so you know what others think of the report.</p>
		  <h3>Is it legal?</h3>
		  <p>Yes, it is. We only allow original work on our site. No re-selling is allowed. In order to ensure that the files we get are original work, we ask that they be submitted in editable format – that is Excel, PowerPoint or Word.</p>
		  <h3>How do you make money?</h3>
		  <p>We make money by charging a commission on every document that is sold. This commission is 30%. </p>
		  <h3>Who's on your team?</h3>
		  <p>Koala Faisal, Baby Samreen and Koala with Four Arms, Ali.</p>
		  <h3>Why are you doing this?</h3>
		  <p>We're doing this because we're sick of paying thousands of dollars for market research that is no good. It's an industry that is just begging to be shaken up and democratized. By unlocking the power of intelligent minds on the internet – giving them a way to publish, be recognized and make money – we're hoping we can make some of the suits on Madison Avenue wake up and sweat it out a little bit.</p>
		  <h3>How do you protect my privacy?</h3>
		  <p>We realize this is a concern for you. Your data will always be your data, and there's no koala in the world that can change that. If you want to delete a post, you can do so in the manage section. If you want to delete your account altogether, just email us at admin@researchnation.net, and we'll get it done and send you a confirmation. Finally, rest assured we we will never share your information with anyone else without your permission.</p>
		  <h1 id="link2">For Sellers</h1>
		  <h3>How do I select and filter content?</h3>
		  <p>Currently there's no search or filter tool in place. We're working on this and will be adding it soon though. Thank you for your patience!</p>
		  <h3>Why can't I search for content?</h3>
		  <p>Umm…we're working on this!</p>
		  <h1 id="link3">For Buyers</h1>
		  <h3>How does payment work?</h3>
		  <p>We use PayPal for payment processing. Any time a document that you've uploaded is sold, we will send you an e-mail letting you know, and your PayPal account will be credited.</p>
		  <h3>How much should I charge for my work?</h3>
		  <p>Charge whatever you yourself would pay for your work. As a rough guideline though, you shouldn't charge more than US$50-100 per report (2-3 pages on a verage in length). </p>
		  <h3>Can I list documents for free?</h3>
		  <p>Absolutely you can, and if you're a first-time publisher, you should actually do this. It's a good way to build your reputation before you start charging for your work.</p>
		  <h3>Why do you cap the document rate at US$1,000?</h3>
		  <p>We don't want to become another large research firm that charges outrageous rates for its work. In most cases, your research will be limited to a few pages, so it's hard to justify charging such a premium. In any case, we're hoping that your motivation is more than just money. It's hard to build a follower base if you're charging too much: our model is low price, high volume.</p>
		  <h3>What kind of sellers do you attract?</h3>
		  <p>Individuals, small businesses and other companies looking for information that is very specific and hard to find on other parts of the internet.</p>
		  <h3>Can I sell document anonymously?</h3>
		  <p>You will get an e-mail from us.</p>
		  <h3>Do I get any data analytics on my post?</h3>
		  <p>Yes, but not now – we're working on adding this functionality soon.</p>
		  <h3>What kinds of documents can I sell?</h3>
		  <p>Word, Excel or PowerPoint files.</p>
		  <h3>How do I delete or edit a post/document?</h3>
		  <p>Pretty much anything you want to, really.  Examples are: industry research, company research, polls, surveys and call transcripts. Try to be short and to-the-point and include statistics (and sources) back up your facts. Also: try to draw on any specialized knowledge you have; your chances of being read (and bought) are far greater if you are writing on a niche that people don't know much about/ can't find information on directly through a Google search.</p>
		  <h3>How long will my document remain online for?</h3>
		  <p>We keep documents online indefinitely, but if you want to remove it, just let us know at admin@researchnation.net and we'll pull it off.</p>
		  <h3>Who are you selling my work to?</h3>
		  <p>To anyone who wants to buy it  In all likelihood, though, buyers will be individuals and small businesses – people who don't have enterprise level research subscriptions and can't afford US$1,000, per report.</p>
		  <h3>How much commission do you charge?</h3>
		  <p>We charge a 30% commission on each document that is sold.</p>
		  <h3>How does the rating and review process work?</h3>
		  <p>We read every document that is submitted and then add our rating and review for that. There is no science behind the methodology, but things that we look at are: quality of writing, provision of sources, layout and formatting and structure of the document.  Things that do NOT matter are: length of the document; topic that you're writing on; and nature of the document.</p>
		  <h3>Can I respond to a review?</h3>
		  <p>Yes, just post directly in the comments section below your post (on the seller page).</p>
		  <h3>What kinds of documents can I sell?</h3>
		  <p>Word, Excel or PowerPoint files.</p>
		  <h3>What kinds of documents can I sell?</h3>
		  <p>Word, Excel or PowerPoint files.</p>
		  <h1 id="link4">For Market Research Firms</h1>
		  <h3>Why should we sell through you?</h3>
		  <p>Because we can bring you new customers and help you make more money   We realize that you don't want to cannibalize your existing sales, and so we offer the opportunity to sell white-label and singles products through us, which ensures that only new customers/ people who don't care about brand and wouldn't buy from you otherwise will come to you (i.e. it guarantees that you get new customers).</p>
		  <h3>What kinds of documents can we sell?</h3>
		  <p>You can sell any kind of market research that you want to. Currently we're only allowing singles (chapters of reports) and white label reports (you discount the price to under US$100, and sell under our brand). </p>
		  <h1 id="link5">Feedback/ Vote on New Features</h1>
		  <p>Here are a couple of ideas that we're thinking about – we'd love to get yout feedback on them:</p>
					<p>1- Singles</p>
		  <p>2- White Label Research</p>
		  <p>3- Crowdsourced buying</p>
		  <p>4- TripAdvisor Style Reviews</p>
		  <h1 id="link6">The Expert Advisory Panel</h1>
		  <h3>What is the Expert Advisory Panel?</h3>
		  <p>The Expert Advisory Panel is a private advisory panel composed of leading industry experts. We have panels for most big industries.</p>
		  <h3>Why can't I see it online?</h3>
		  <p>If you are a buyer or company looking to source experts, please contact us directly at admin@researchnation.net. We do not publish the names of our 
	experts online, so as to protect their privacy.</p>
					<h3>How will you use the information I gave you?</h3>
		  <p>If it's ok with you (and we'll check to make sure) we may connect you with companies looking for expert advice every now and then. The matching process \is discrete and completely private, and it's a good way for you to make extra money (US$500+ per hour, on average).</p>
					<h3>I checked the box – what happens next?</h3>
		  <p>If a company is interested in sourcing you as an expert, we will let you know, otherwise nothing much is going to happen really.</p>
		  <h1 id="link7">Troubleshooting</h1>
		  <h3>I have a question, what do I do?</h3>
		  <p>We can Skype (or call) seller any time, let us know.</p>
		  <h3>How do I get a refund?</h3>
		  <p>Email us at admin@researchnation.net.</p>
					<h3>Problems with making or receiving a payment?</h3>
		  <p>Email us at admin@researchnation.net to let us know</p>
		  </li>
		</ul>
	</div>
	<%= render :partial => 'how_it_works_links' %>
</div>
