<div class="content">
	<div class="how_it_work_left_side">
		<ul>
		  <li>
			<h1 id="link1">General Questions</h1>
		  <h3>What is Research Nation?</h3>
		  <p>Research Nation is a social publishing site for professionals</p>
		  <h3>What's different about it?</h3>
		  <p>x</p>
		  <h3>How do you guarantee quality?</h3>
		  <p>Quality is very important to us and we ensure it through a couple of checks. First, we read, edit and review every single file that is uploaded onto our site. If something doesn't meet our quality standards, it won't be allowed. Second, we rate each review and the good ones will be given a  koala standard stamp of approval. Finally, every report comes with user reviews (powered through Facebook, so minimal spam), so you know what others think of the report.</p>
		  <h3>Is it legal?</h3>
		  <p>Yes, it is. We take steps to ensure that documents being submitted to us are original, and if they're not, they won't be allowed on our site.</p>
		  <h3>How do you make money?</h3>
		  <p>We make money by charging a commission on every document that is sold. This commission is 30% of sale price - so if you list a document for sale at US$100, and someone buys it, we'll keep US$30, and pass on US$70 to you.</p>
		  <h3>How do you protect my privacy?</h3>
		  <p>We realize this is a concern for you. Your data will always be your data, and there's no koala in the world that can change that. If you want to delete a post, you can do so through your dashboard (see link in the header - you need to login to see it). If you want to delete your account altogether, just email us at admin@researchnation.net, and we'll get it done and send you a confirmation. Finally, rest assured we we will never share your information with anyone else without your permission.</p>
		  <h1 id="link2">For Sellers</h1>
		  <h3>How does payment work?</h3>
		  <p>We use PayPal for payment processing. Any time a document that you've uploaded is sold, we will send you an e-mail letting you know, and payment will be transferred to you, net of our fees, and through PayPal. Payment will be sent out by the end of the month following hte purchase - e.g. if someone purchases your report on March 15, you will get paid latest by April 30. If you need the money earlier, though, no problem, just let us know and we'll see what we can do for you</p>
		  <h3>Can I list documents for free?</h3>
		  <p>Absolutely you can, and if you're a first-time publisher, you should actually do this. It's a good way to build your reputation before you start charging for your work.</p>
		  <h3>Can I sell document anonymously?</h3>
		  <p>Yes, but we would not recommend doing so - you're more likely to get traction when people can see your detailed information, than when they can't.</p>
		  <h3>What kinds of documents can I sell?</h3>
		  <p>Pretty much anything you want to, really.  Examples are: industry research, company research, polls, surveys, data sets and call transcripts. Try to be short and to-the-point and include statistics (and sources) back up your facts. File format has to be PDF, Word, Excel or PowerPoint.</p>
		 <h3>Can I publish academic articles, and anything else that's not business related?</h3>
		  <p>yes! We want to build a diverse community around original intelligence, and would warmly welcome any non-business related intelligence that you want to share</p>
		  <h3>How do I delete or edit a document?</h3>
		  <p>Login to Research Nation, click on 'dashboard' in the header and navigate to the relevant section.</p>
		  <h3>How long will my document remain online for?</h3>
		  <p>We keep documents online indefinitely, but if you want to remove it, just let us know at admin@researchnation.net and we'll pull it off.</p>
		  <h3>How much commission do you charge?</h3>
		  <p>Posting is free, and always will be. For every document that is purchased through our site, we get a 30% commission (which is deducted from the listing price)</p>
		  <h3>What is the Koala Review?</h3>
		  <p>We read every document that is submitted and then add our rating and review for that. There is no science behind the methodology, but things that we look at are: quality of writing, provision of sources, layout and formatting and structure of the document.  Things that do NOT matter are: length of the document; topic that you're writing on; and nature of the document.</p>
		  <h3>Can I respond to a review?</h3>
		  <p>Yes, just post directly in the comments section below your post (on the seller page).</p>
		  <h3>What kinds of documents can I sell?</h3>
		  <p>PDF, Word, Excel or PowerPoint files.</p>
		  <h1 id="link3">For Buyers</h1>
		  <h3>I can't find the intelligence that I'm looking for. What should I do?</h3>
		  <p>You can either contact people on our site directly (see 'profiles' view) or let us know and we'll find the right person for you.</p>
		  <h3>How do I get a refund?</h3>
		  <p>You can email us at admin@researchnation.net or use the Contact Us page. In general, you need to have a compelling reason to request a refund. We can't guarantee we'll honor your request (it will depend on your reasons), but will certainly consider it and get back to you with a prompt answer.</p>
		  <h3>Problems with making or receiving a payment?</h3>
		  <p>Uh oh! Email us at admin@researchnation.net or use the Contact Us page to let us know</p>
		  </li>
		</ul>
	</div>
	<%= render :partial => 'how_it_works_links' %>
</div>
