<% content_for :html_title, 'Frequently Asked Questions' %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box message_heading_box">
        <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">Frequently Asked Questions</h1>
      </div>
      <div class="sign_up_box paragraph">
        <h4 style="margin-top:0px; border-top:0px;">General Questions</h4>
        <b class="faq_heading">What is Research Nation?</b>
        <p>Research Nation is a social marketplace for research reports and datasets.</p>
        <b>Is Research Nation a registered business?</b>
        <p>Yes, Research Nation LLC is the legal name of the company, and it is incorporated in the State of Delaware in the United States.</p>
        <b>Who can use it?</b>
        <p>Anyone, it can be an individual or a company. The site is free to use (i.e. no listing or sign-up fees).</p>
		<b>What can I use it for?</b>
        <p>You can use the site to sell documents, post ideas (to gauge demand for new offerings), and post reviews.</p>
        <b>How do I use it?</b>
        <p>To sell a document (research report, dataset, chart, graph, interview transcript, survey results etc) OR post an idea, click on 'sell' link in the header. You use the same form for both - if you want to post an idea, then leave the attachment field blank.</p>
        <h4>For Sellers</h4>
        <b class="faq_heading">What document formats do you accept?</b>
        <p>PDF, Word, Excel, CSV, JPEG, GIF and PowerPoint files. If you think we need to expand this list, please let us know.</p>
        <b>How do I find out when my document is sold?</b>
        <p>Every time your document is sold, you will receive an email from us. In addition, you can also view your pending and paid earnings through your profile dashboard.</p> 
        <b>How do I delete or edit my marketplace listing?</b>
        <p>Login to Research Nation, click on 'dashboard' in the header and then click on 'Posts' in your dashboard. You will see 'edit' and 'delete' buttons there. If you delete, you can't undelete later on.</p>
        <b>When and how do I get paid?</b>
        <p>We process payouts every 45 days, and you can get paid either via PayPal or by cheque (mailed to your address). Please let us know your preferences by filling out the payout preferences form in your profile dashboard.</p>
        <b>How does Research Nation make money?</b>
        <p>We charge a commission on every document that is sold. This commission is 30% of sale price (unless otherwise agreed/negotiated). So for example if you list a document for sale at US$100, and someone buys it, we'll keep US$30, and pass on US$70 to you.</p>
        <b>Who owns intellectual property rights to the datasets and research reports that I sell on your site?</b>
        <p>You do, and that's the way it always will be.</p>
        <b>Is your site secure?</b>
        <p>Yes. We use SSL encryption (VeriSign certification pending) up to 126 bits, and have a few other hacks to make sure your documents and identity is always protected. We do not store any financial data (i.e. credit card information) on our site.</p>
        <h4>For Buyers</h4>
        <b class="faq_heading">How do you control quality?</b>
        <p>We offer a number of ways for you to assess quality of datasets and reports being sold on our site. These tools include: reviews (Facebook Comments), ratings, samples, statement of sources and methodology, and seller profile(s).</p>
        <b>How does payment work?</b>
        <p>You can pay for your purchases via credit card; we accept all major international credit cards, and use PayPal's Merchant Services for payment processing. Our website is still in beta (and hence purchasing function is currently unavailable), but once we launch it fully, it will be SSL-secured (up to 128 bit), and VeriSign certified.</p>
        <b>How do I get a refund?</b>
        <p>You can email us directly or use the Contact Us page. In general, you need to have a compelling reason to request a refund. We can't guarantee we'll honor your request (it will depend on your reasons), but will certainly consider it and get back to you with a prompt answer.</p>
        <b>Problems with making or receiving a payment?</b>
        <p>Uh oh! Email us at admin@researchnation.net or use the Contact Us page to let us know.</p>
      </div>
     </div>
    </div>
	<%= render :partial => 'how_it_works_links' %>
</div>
