<% content_for :html_title, 'Frequently Asked Questions' %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box message_heading_box">
        <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">Frequently Asked Questions</h1>
      </div>
      <div class="sign_up_box paragraph">
        <h4 style="margin-top:0px; border-top:0px;">General Questions</h4>
        <b class="faq_heading">What is Research Nation?</b>
        <p>Research Nation is a website that provides user-generated reviews for market research reports and market research service providers.</p>
        <b>Is Research Nation a registered business?</b>
        <p>Yes, Research Nation LLC is the legal name of the company, and it is incorporated in the State of Delaware in the United States.</p>
        <b>Who can use it?</b>
        <p>Anyone, it can be an individual or a company. The site is free to use.</p>
		<b>What can I use it for?</b>
        <p>You can use the site to:</p> 
        <p>1) Find research reports and market research firms</p>
        <p>2) Read reviews (of reports) or recommendations (for research firms)</p>
        <p>3) Write reviews (of reports) or recommendations (for research firms)</p>
        <b>Do I have to pay to use the site?</b>
        <p>Nope! It's free to use.</p> 
        <b>I want to add a review for a report or company that's not in your database. What do I do?</b>
        <p>Send us a request using the 'Feedback' page and we'll get in touch with you to fix this.</p> 
        <b>How do you ensure that reviews are high-quality?</b>
        <p>Our team reads every single review that is written on the site, and if it fails to meet our standards, we won't allow it to stay. We also have a few other neat technical tricks that we do. Feel free to e-mail or call if you want more details on this.</p> 
        <b>Do you pay people to add reviews?</b>
        <p>No, that is strictly against our policy. We also do not charge publishers or market research firms an "advertising fee" to be listed on our website.</p>
      </div>
     </div>
    </div>
	<%= render :partial => 'how_it_works_links' %>
</div>
