<% content_for :html_title, 'Frequently Asked Questions' %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box message_heading_box">
        <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">Frequently Asked Questions</h1>
      </div>
      <div class="sign_up_box paragraph">
        <h4 style="margin-top:0px; border-top:0px;">General Questions</h4>
        <b>What is Research Nation?</b>
        <p>Research Nation is a marketplace for finding, buying and selling original business intelligence.</p>
        <b>How do you guarantee quality?</b>
        <p>Quality is very important to us and we ensure it in a couple of ways. First, we read and review every single file that is uploaded onto our site. If something doesn't meet our quality standards, it won't be allowed. Second, every publication comes with user reviews (powered through Facebook, so minimal spam), so you know what others think of the report. Thirdly, we ask authors to state their sources and methodology, and also allow them to provide samples and set their own sale terms and conditions. Through a combination of these methods, we aim to ensure that the publications on our site are of the highest quality and authentic.</p>
        <b>Is it legal?</b>
        <p>Yes, it is. We take steps to ensure that documents being submitted to us are original, and if they're not, they won't be allowed on our site.</p>
        <b>How do you protect my privacy?</b>
        <p>We realize this is a concern for you. Your data will always be your data, and you can delete your posts at any time. If you want to delete a post, you can do so through your dashboard (see link in the header - you need to login to see it). If you want to delete your account altogether, just email us at admin@researchnation.net, and we'll get it done and send you a confirmation. Finally, rest assured we will never share your information with anyone else.</p>
      	<b>How will you use my profile information (including the 'Interested In' section preferences)?</b>
        <p>Your completed profile is published in our 'Browse Profiles' section. If you don't want this to happen, then don't fill out the profile form. Also, you would have noticed that there is an 'Interested In' section in the profile form - we ask for this so that we can connect you with work or advisory opportunities that are relevant to your experience. In the future, we'll have a comprehensive system in place to allow you to manage this and book expert advisory (by the hour) and work (full time, part time) sessions. We will be giving preferential treatment to people who fill out complete profiles, and moreover, to people who have published or created posts on our site. This ties in to one of our core beliefs, which is that so-called expertise must be backed up by evidence of it, in written form.</p>
        <b>Is Research Nation a registered business?</b>
        <p>Yes, Research Nation LLC is the legal name of the company, and it is incorporated in the State of Delaware in the United States.</p>
        <h4>For Sellers</h4>
        <b>Can I list documents for free?</b>
        <p>Absolutely you can, and if you're a first-time publisher, you should actually do this. It's a good way to build your reputation before you start charging for your work.</p>
        <b>How do I find out when my document is sold?</b>
        <p>Every time your document is sold, you will receive an email from us. In addition, you can also view how many times your document has been sold, and your pending and paid earnings, through your profile dashboard (link in the header).</p> 
        <b>How do I delete or edit a document?</b>
        <p>Login to Research Nation, click on 'dashboard' in the header and navigate to the relevant section. When you delete your document, it is no longer viewable or purchasable by other users, however it remains on our records. If you want to delete your file(s) from our (i.e. Research Nation's) internal records as well, email us and we'll get it done.</p>
        <b>Why is price capped at US$1,000?</b>
        <p>We've thought long and hard, and debated extensively on this issue. In general, we like the idea of letting sellers pick a price - it is, after all, the most democratic way to proceed - but we also want to make sure that publications are affordable to our buyers, a lot of whom will be individuals, start-ups and small businesses.</p>
        <b>Can I respond to a review?</b>
        <p>Yes, just post directly in the comments section below your post (on the seller page). Note that your responses will be public (we use Facebook Comments), so try to be thoughtful and balanced if and when you ever respond to a review.</p>
        <b>What document formats do you accept?</b>
        <p>PDF, Word, Excel and PowerPoint files.</p>
        <b>When and how do I get paid?</b>
        <p>We process payouts every 45 days, and you can get paid either via PayPal or by cheque (mailed to your address). Please let us know your preferences by filling out the payout preferences form in your profile dashboard. You can update your preferences at any time. Once we have processed your payment, you will receive an email, and the status of that payment will also change from 'pending' to 'paid.' Please wait for a minimum of 7 working days before contacting us - it can take a while for payments to be processed. Also please keep in mind that the cheque you receive will be net of our fees.</p>
        <b>How does Research Nation make money?</b>
        <p>We make money by charging a commission on every document that is sold. This commission is 30% of sale price - so for example if you list a document for sale at US$100, and someone buys it, we'll keep US$30, and pass on US$70 to you.</p>
        <h4>For Buyers</h4>
        <b>How does payment work?</b>
        <p>You can pay for your purchases via credit card; we accept all major international credit cards, and use PayPal's Merchant Services for payment processing. Our website is SSL-secured (up to 128 bit), and also VeriSign certified. Should you ever have an issue with your payment, please let us know immediately.</p>
        <b>I can't find the intelligence that I'm looking for. What should I do?</b>
        <p>You can either contact people on our site directly (see 'profiles' view) or let us know and we'll find the right person for you. We’re also thinking of adding a ‘contest’ feature in the future – if you like this idea, reach out and let us know!</p>
        <b>Is there a way for me to post my needs, and have service providers get in touch with me directly?</b>
        <p>No. We will add this in the future though, so stay tuned. The reason why we've kept this feature on hold for now is to uphold quality on the site. We've observed that sites that allow buyers to post their needs, tend not to work so well, mainly because (1) budgets that buyers give are quite unrealistic (and good service providers don't like sending 'quotations' for budget-constrained projects), and (2) quality of responses from service providers is not of consistently high quality - buyers typically get too many responses, but relevancy and depth of responses is low. We plan to get around these issues in the future by allowing only people with posts - i.e. sellers who have already established a reputation on our site - to respond to buyers needs. This should help drive relevancy, and give buyers a better tool set with which to assess potential sellers/service providers as well.</p>
        <b>How do I get a refund?</b>
        <p>You can email us directly or use the Contact Us page. In general, you need to have a compelling reason to request a refund. We can't guarantee we'll honor your request (it will depend on your reasons), but will certainly consider it and get back to you with a prompt answer.</p>
        <b>Problems with making or receiving a payment?</b>
        <p>Uh oh! Email us at admin@researchnation.net or use the Contact Us page to let us know.</p>
      </div>
     </div>
    </div>
	<%= render :partial => 'how_it_works_links' %>
</div>
