<div class="contant">
	<div class="how_it_work_left_side">
		<ul>
		  <li>
		    <h1>Simple, Easy to Use Features</h1>
        <div class="how_it_works_field">
          <div class="image_box">
            <img src="/images/img5.png" />
          </div>
          <div class="text_box">
            <h3>Crispy, Original Research</h3>
            <p>All the materials that you see on Research Nation are original and user-generated.We don't recycle or re-use any information, so you can rest assured that when yo buy through us, you get it hot and fresh!</p>
          </div>
        </div>
        <div class="how_it_works_field">
          <div class="text_box">
            <h3>Company and Individual Profiles</h3>
            <p>Looking for an expert, or want to become one? We can help you. Our expert database is comprised of a carefully screened group of individuals only. By linking expertise to publications, we ensure that people in our list have real expertise and knowledge to share. Our database is completely private, and not searchable anywhere, so you can rest assured your privacy will always be protected.</p>
          </div>
          <div class="image_box">
            <img src="/images/1303285278_address_book.png" />
          </div>
        </div>
        <div class="how_it_works_field">
          <div class="text_box">
            <h3>Reviews to Help You Decide</h3>
            <p>Want to know what others are thinking? Check out reviews, available for each report, and where you can read others reviews and add your own</p>
          </div>
          <div class="image_box">
            <img src="/images/img4.png" style="width:88px; margin-top:35px;" />
          </div>
        </div>
		  </li>
		</ul>
	</div>
	<%= render :partial => 'how_it_works_links' %>
</div>
