<div class="contant">
	<div class="how_it_work_left_side">
		<ul>
		  <li>
	 			<h1>Simple, Easy to Use Features</h1>
		    <h3>Crispy, Original Research</h3>
		    <p>All the materials that you see on Research Nation are original and user-generated.We don't recycle or re-use any information, so you can rest assured that when yo buy through us, you get it hot and fresh!</p>
		     <h3>Expert Database</h3>
		     <p>Looking for an expert, or want to become one? We can help you. Our expert database is comprised of a carefully screened group of individuals only. By linking expertise to publications, we ensure that people in our list have real expertise and knowledge to share. Our database is completely private, and not searchable anywhere, so you can rest assured your privacy will always be protected.</p>
		     <h3>Automatic Categorization</h3>
		     <p>We tag each document or post so as to make it easier to browse and use the site. Typical tags will cover industry, geography and research type.</p>
		     <h3>Personalized, for you</h3>
		     <p>We customize your screen for your tastes. For example. if you are interested in technology, then we will place technology reports at the top of your viewing list. We also try to optimize your viewing experience for your browster type and size, but if it's not to your liking, let us know by clicking here.</p>
		     <h3>Reviews to Help You Decide</h3>
		     <p>Every post has a review box at the bottom, where you can read others reviews and add your own. If you'd like to see this feature expanded on in the future (we are thinking of making it more detailed, like TripAdvisor.com does), please let us know by clicking here.</p>
		     <h3>Fun Cartoons</h3>
		     <p>Market Research can be really boring! We try to lighten things up through various cartoons of Koalas on the site. If you are a talented illustrator and would like to help us out, please let us know by sending us an email at admin@researchnation.net. The Koalas need you!</p>
		     <h3>Author Details</h3>
		     <p>Every post is accompanied by details on the author or firm that is selling it. We're not a big, face-less corporate giant, and never will be. Everything that you see on our site is real, human (except for the koalas) and alive. Want to ask a question of an author? No problem, let us know and we'll do it for you. Want to contact the seller directly? Click on the 'Contact Me' button to get started.</p>
		     <h3>Staff Recommendations</h3>
		     <p>We realize that quality is extremely important, and in this spirit we try to read and rate every single document that is uploaded onto our site.</p>
		  </li>
		</ul>
	</div>
	<%= render :partial => 'how_it_works_links' %>
</div>
