<div class="content">
<div class="how_it_work_left_side">
  <ul>
    <li>
      <h1>Why Freelancers Love Us</h1>
      <div class="how_it_works_field">
        <div class="image_box">
          <img src="/images/1303125666_HourGlass.png" />
        </div>
        <div class="text_box">
          <h3>Save time on selling</h3>
          <p>With Research Nation you no longer have to worry about how to sell your work. Forget about Craig's List - all you have to do is write, upload and start selling!</p>
        </div>
      </div>
      <div class="how_it_works_field2">
        <div class="text_box">
          <h3>Make money</h3>
          <p>Got ambitions of your own but need to pay rent? We understand. With Research Nation you can make enough money to keep you going with your start-up dreams</p>
        </div>
        <div class="image_box">
          <img src="/images/1303124859_money_bag.png" />
        </div>
      </div>
      <div class="how_it_works_field">
        <div class="image_box">
          <img src="/images/sample_image.jpg" width="270" height="200" />
        </div>
        <div class="text_box">
          <h3 style="width:285px;">Build a reputation online</h3>
          <p style="width:287px;">So you're a great analyst, but no-one knows you. Worry not - if people like your work, we'll feature you on Research Nation and give you a platform to grow from</p>
        </div>
      </div>
      <div class="how_it_works_field2">
        <div class="text_box">
          <h3>Grow your network</h3>
          <p>We realize it's tough working alone. With Research Nation you can connect with other market research professionals and collaborate on productions, or just grow your network by making professional connections</p>
        </div>
        <div class="image_box">
          <img src="/images/1303126294_network.png" />
        </div>
      </div>
    </li>
  </ul>
</div>
<%= render :partial => 'how_it_works_links' %>
</div>
