<div class="content">
  <div class="how_it_work_left_side">
      <div class="seller_back">
        <span class="sign_up" id="tab2">IP Issues</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Adult Content and Profanity</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Anonymity and Privacy</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Admin and Moderation</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Commenting</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Topics</span>
        <div style="min-height: 275px;" 0class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Source</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</0p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Sample Docs</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Short Posts</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Style and Formatting</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Company Access</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Licensing</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Free Content</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
  </div>
</div>
<%= render :partial => 'how_it_works_links' %>
