<% content_for :html_title, 'Guidelines' %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box message_heading_box">
        <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">Guidelines</h1>
      </div>
      <div class="sign_up_box paragraph">
        <b style="margin-top:0px !important">IP Issues</b>
        <p>Only original documents are allowed on the site, and illegal reselling (i.e. in violation of copyrights) is not allowed on our site. Furthermore, all intellectual property rights remain with the sellers (i.e. as a seller on our site, you have absolute control over your data, and we can never use it without your permission).</p>
        <b>Adult Content and Profanity</b>
        <p>Adult content and profanity will not be allowed on the site, and anyone found to be in violation of this guideline will either be blocked or barred from using the site in the future.</p>
        <b>Anonymity and Privacy</b>
        <p>We currently do not offer the option to post anonymously, mainly to ensure high quality engagement on the site. If you wish to post anonymously, please get in touch with us at admin@researchnation.net and we will try to accommodate you.</p>
        <b>Admin and Moderation</b>
        <p>Admin reserves the right to edit and delete any post or profile that is created, so as to ensure consistent high quality content on the website. In most cases admin will only edit posts for grammar and formatting, and whenever this happens, it will be restricted to the following sections: executive summary, seller terms and sources and methodology.</p>
        <b>Commenting</b>
        <p>Please do share your comments with authors by using the Facebook Comments feature. Whenever you comment, please be respectful, and succinct, and try to be specific in your comments (e.g. you can identify things that you like, or provide suggestions for improvement). In case you have a question about the post, please message the seller directly, as that is a more appropriate forum for getting private messages answered.</p>
        <b>Messaging</b>
        <p>Please use the messaging feature to contact sellers and other individuals and companies with profiles on the site. To maintain privacy of all users, we keep email addresses secret at all times. You can use the messaging feature to seek clarifications on a post or find out more about the seller’s expertise. However, you can NOT try to negotiate a better price, or spam other users or use it for any purpose other than mentioned above. Please keep in mind that admin will always have access to your messages, so if the privilege is abused, we will find out immediately.</p>
        <b>Sources and Methodology</b>
        <p>You must state your sources and the methodology you used in accumulating data and insights used in your post. While stating your sources, it is alright to provide general guidelines (for example, you can say that your sources are sales managers of 15 four and five star hotels in Central London – you don’t have to name them). Please also disclose your methodology, in case it is applicable. For example, if you are publishing results from a poll or survey, please do describe how these results were collected. The rule of thumb here should be that you should provide at least as much information as you yourself would want to know if you were a buyer.</p>
        <b>Sample Documents</b>
        <p>Although optional, sample documents are highly encouraged, as they let prospective buyers assess the quality of your publication, and fit with their needs.  You may want to consider showing the Table of Contents, or any other central piece of information as your sample document.</p>
        <b>Short Posts</b>
        <p>Short posts – that is, posts that are only one or two lines each (executive summary, about the seller) – are highly discouraged, as they bring down the overall quality of the site and don’t help anyone. Please take time to think through your responses while creating a post; the quality and depth of your responses will have a direct impact on likelihood of your post being viewed and purchased.</p>
        <b>Style and Formatting</b>
        <p>Please use standard English grammar (American or British), and use complete sentences with proper punctuation and spellings while posting on the site. It’s a small courtesy that your fellow users (and us) will much appreciate, and it makes you look good too.</p>
        <b>Licensing</b>
        <p>In case you wish to add your own sale terms or license terms to your post, you may do so by filling out the ‘Seller Terms’ form while creating a post. In most cases, you shouldn't worry about filling out this section (probably companies that are selling will find it more useful than individuals). All posts on the site are protected by our Privacy Policy and Terms and Conditions, which is sufficient for most sellers.</p>
      </div>
    </div>
  </div>
<%= render :partial => 'how_it_works_links' %>
</div>
