<div class="contant">
  <div class="how_it_work_left_side">
  <ul>
      <li>
      <h1>Community Guidelines</h1>
      <h3>IP Issues</h3>
      <p>...</p>
      <h3>Adult Content and Profanity</h3>
      <p>...</p>
      <h3>Anonymity and Privacy</h3>
      <p>...</p>
      <h3>Admin and Moderation</h3>
      <p>...</p>
      <h3>Commenting</h3>
      <p>...</p>
      <h3>Topics</h3>
      <p>...</p>
      <h3>Source</h3>
      <p>...</p>
      <h3>Sample Docs</h3>
      <p>...</p>
      <h3>Short Posts</h3>
      <p>...</p>
	  <h3>Style and Formatting</h3>
      <p>...</p>
      <h3>Company Access</h3>
      <p>...</p>
      <h3>Licensing</h3>
      <p>...</p>
      <h3>Free Content</h3>
      <p>...</p>
      </li>
  </ul>
  </div>
  <%= render :partial => 'how_it_works_links' %>
</div>
