<% content_for :html_title, 'Guidelines' %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box message_heading_box">
        <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">Guidelines</h1>
      </div>
      <div class="sign_up_box paragraph">
        <b style="margin-top:0px !important">IP Issues</b>
        <p>Only original documents are allowed on the site, and illegal reselling (i.e. in violation of copyrights) is not allowed on our site.</p>
        <b>Adult Content and Profanity</b>
        <p>Adult content and profanity will not be allowed on the site, and anyone found to be in violation of this guideline will either be blocked or barred from using the site in the future.</p>
        <b>Privacy</b>
        <p>We keep your email address private at all times, and you can edit or delete your uploaded files at any time.</p>
        <b>Admin and Moderation</b>
        <p>Admin reserves the right to edit and delete any post or profile that is created, so as to ensure consistent high quality content on the website.</p>
        <b>Reviews & Comments</b>
        <p>Please do share your reviews & comments by using the Facebook Comments feature. Please be respectful, and succinct, and try to be specific in your comments.</p>
        <b>Messaging</b>
        <p>Please use the messaging feature to contact sellers for clarifications on a listing. You can NOT try to negotiate a better price, or spam other users or use it for any purpose.</p>
        <b>Style and Formatting</b>
        <p>Please use standard English grammar (American or British), and use complete sentences with proper punctuation and spellings while posting on the site.</p>
        <b>Licensing</b>
        <p>Any data or documents you upload/sell are your property, and no one else (including us) can re-sell them without your permission.</p>
      </div>
    </div>
  </div>
<%= render :partial => 'how_it_works_links' %>
</div>
