<div class="content">
  <div class="how_it_work_left_side">
      <div class="seller_back">
        <span class="sign_up" id="tab2">IP Issues</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Adult Content and Profanity</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Anonymity and Privacy</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Admin and Moderation</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Commenting</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Topics</span>
        <div style="min-height: 275px;" 0class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Source</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</0p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Sample Docs</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Short Posts</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Style and Formatting</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Company Access</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Licensing</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      </div>
      <div class="facebook_back">
        <span class="sign_up" id="tab2">Free Content</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <p>...</p>
        </div>
      <!--
      <ul>
          <li>
          <h3>IP Issues</h3>
          <p>...</p>
          <h3>Adult Content and Profanity</h3>
          <p>...</p>
          <h3>Anonymity and Privacy</h3>
          <p>...</p>
          <h3>Admin and Moderation</h3>
          <p>...</p>
          <h3>Commenting</h3>
          <p>...</p>
          <h3>Topics</h3>
          <p>...</p>
          <h3>Source</h3>
          <p>...</p>
          <h3>Sample Docs</h3>
          <p>...</p>
          <h3>Short Posts</h3>
          <p>...</p>
          <h3>Style and Formatting</h3>
          <p>...</p>
          <h3>Company Access</h3>
          <p>...</p>
          <h3>Licensing</h3>
          <p>...</p>
          <h3>Free Content</h3>
          <p>...</p>
          </li>
      </ul>
      -->
  </div>
  <%= render :partial => 'how_it_works_links' %>
</div>
