<% content_for :html_title, 'Guidelines' %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box message_heading_box">
        <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">Guidelines</h1>
      </div>
      <div class="sign_up_box paragraph">
        <b style="margin-top:0px !important">Reviews & Recommendations</b>
        <p>Please be respectful, and succinct, and try to be specific in your comments. You must register on our site, and use your real name when you comment. We also recommend a minimum comment length of 500 characters.</p>
        <b>Adult Content and Profanity</b>
        <p>Adult content and profanity will not be allowed on the site, and anyone found to be in violation of this guideline will either be blocked or barred from using the site in the future.</p>
        <b>Privacy</b>
        <p>We keep your email address private at all times, and you can edit or delete your account at any time.</p>
        <b>Admin and Moderation</b>
        <p>Admin reserves the right to edit and delete any review or recommendation that is created, so as to ensure consistent high quality content on the website.</p>
        <b>Style and Formatting</b>
        <p>Please use standard English grammar (American or British), and use complete sentences with proper punctuation and spellings while posting on the site.</p>
        <b>Licensing</b>
        <p>Any reviews or recommendations posted on this site will become the intellectual property of Research Nation, and can not be copied or distributed without our permission.</p>
      </div>
    </div>
  </div>
<%= render :partial => 'how_it_works_links' %>
</div>
