<div class="contant">
  <div class="how_it_work_left_side">
  <ul>
      <li>
      <h1>Guidelines</h1>
      <h3>General Guidelines</h3>
      <p>Be concise and try to include the industry name, geography and research type in your description (for example: </p>
      <h3>Creating an Exec Summary</h3>
      <p>Do include an executive summary covering highlights of your research. If you don't have time to complete it, don't worry, we'll do it for you.</p>
      <h3>Adding Tags</h3>
      <p>Feel free to identify as many industries and geographies as are relevant. If you don't see what you want, create a new tag by typing it out and pressing enter</p>
      <h3>Setting a Price</h3>
      <p>As a rough guideline, the price you set will reflect uniqueness of your information and page length. In  general, don't price about US$100 if you are an individual, and above US$250 if you are a market research firm. </p>
      <h3>Adding a sample</h3>
      <p>Attach a sample if you want, else we will create one for you. Permitted doc types are Word, Excel and PPT - we do this to ensure all documents we get are original</p>
      </li>
  </ul>
  </div>
  <%= render :partial => 'how_it_works_links' %>
</div>
