<script type="text/javascript">
$(document).ready(function(){
$("#textExample").verticaltabs({speed: 1,slideShow: false,activeIndex: 1});
$("#imageExample").verticaltabs({speed: 1000,slideShow: true,slideShowSpeed: 3000,activeIndex: 0,playPausePos: "topRight"});
});
</script>

<div class="content">
  <div class="verticalslider" id="textExample">
    <ul class="verticalslider_contents left_side">
      <li>&nbsp</li>
      <li>
      	<h1>Why Entrepreneurs Love Us</h1>
        <h3>Make money off of failed startups</h3>
        <p>Wondering how you can make money off of a failed startup? Share your lesson learned and the market research that you did. It's easier than starting a blog, and much, much better than letting the files go to waste on your hard drive!</p>
         <h3>Establish functional expertise</h3>
         <p>Publish your insights - get recognized. You don't need to have a PhD to be an expert, you just need to have real-world experiences that you've learnt something from</p>
         <h3>Finally, research you can afford!</h3>
         <p>Sick of scrambling around on an ugly website, scouting around research for under US$100 (and failing miserably at it)? Reserach Nation make researh affordable and puts it within your reach</p>
      </li>
      <li>
      	<h1>Why Freelancers Love Us</h1>
        <h3>Save time on selling</h3>
        <p>With Research Nation you no longer have to worry about how to sell your work. Forget about Craig's List - all you have to do is write, upload and start selling!</p>
        <h3>Make money</h3>
        <p>Got ambitions of your own but need to pay rent? We understand. With Research Nation you can make enough money to keep you going with your start-up dreams</p>
        <h3>Build a reputation online</h3>
        <p>So you're a great analyst, but no-one knows you. Worry not - if people like your work, we'll feature you on Research Nation and give you a platform to grow from</p>
        <h3>Grow your network</h3>
        <p>We realize it's tough working alone. With Research Nation you can connect with other market research professionals and collaborate on productions, or just grow your network by making professional connections</p>
        <h3>Get analytics on your report</h3>
        <p>Would you like to know who's checking out your posts? If so, let us know and we'll speed up addition of this feature.</p>
      </li>
      <li>
      	<h1>Why Small Businesses Love Us</h1>
        <h3>Easy to use, easy to understand</h3>
        <p>Research Nation's easy to use format means that you can find what you're looking for in less than 30 seconds. </p>
        <h3>Savings</h3>
        <p>At Research Nation, you only pay for what you want. No need to buy a 50 page report when all you really need is 2 pages. All our reports are under 5 pages.</p>
        <h3>Reviews and Recommendations</h3>
        <p>Most sites make you spend US$1,000 without providing any reviews or comments to help you decide. We do things differently - try and let us know if you like it!</p>
      </li>
      <li>
      	<h1>Many Benefits, Free to Use</h1>
        <h3>Gain access to new customers</h3>
        <p>Want to bring on new customers, but don't have the ad budget? Research Nation can help you with that. It can also help diversify your customer base. If you want to sell through us, but are worried about pricing and other matters, let us know and we can put together a white label  offering for you</p>
        <h3>Manage your reputation through reviews</h3>
        <p>Want to engage your customers? Use our online reviews and use our platform to get feedback on new products, features or anything else that you need input on (click here if you'd like to see this feature launched quicker)</p>
        <h3>Hire experts and access niche knowledge</h3>
        <p>Are you looking for an expert? Let us know and we'll get in touch with you to see if we can help</p>
        <h3>Get analytics on your reports</h3>
        <p>Most of your competitors are investing in data analytics. Are you? Get in touch if you're interested in getting access to a custom dashboard that let's you get real time feeds on competitors and your customers</p>
      </li>
      <li> &nbsp; </li>
      <li>
      	<h1>Simple, Easy to Use Features</h1>
        <h3>Crispy, Original Research</h3>
        <p>All the materials that you see on Research Nation are original and user-generated.We don't recycle or re-use any information, so you can rest assured that when yo buy through us, you get it hot and fresh!</p>
         <h3>Expert Database</h3>
         <p>Looking for an expert, or want to become one? We can help you. Our expert database is comprised of a carefully screened group of individuals only. By linking expertise to publications, we ensure that people in our list have real expertise and knowledge to share. Our database is completely private, and not searchable anywhere, so you can rest assured your privacy will always be protected.</p>
         <h3>Automatic Categorization</h3>
         <p>We tag each document or post so as to make it easier to browse and use the site. Typical tags will cover industry, geography and research type.</p>
         <h3>Personalized, for you</h3>
         <p>We customize your screen for your tastes. For example. if you are interested in technology, then we will place technology reports at the top of your viewing list. We also try to optimize your viewing experience for your browster type and size, but if it's not to your liking, let us know by clicking here.</p>
         <h3>Reviews to Help You Decide</h3>
         <p>Every post has a review box at the bottom, where you can read others reviews and add your own. If you'd like to see this feature expanded on in the future (we are thinking of making it more detailed, like TripAdvisor.com does), please let us know by clicking here.</p>
         <h3>Fun Cartoons</h3>
         <p>Market Research can be really boring! We try to lighten things up through various cartoons of Koalas on the site. If you are a talented illustrator and would like to help us out, please let us know by sending us an email at admin@researchnation.net. The Koalas need you!</p>
         <h3>Author Details</h3>
         <p>Every post is accompanied by details on the author or firm that is selling it. We're not a big, face-less corporate giant, and never will be. Everything that you see on our site is real, human (except for the koalas) and alive. Want to ask a question of an author? No problem, let us know and we'll do it for you. Want to contact the seller directly? Click on the 'Contact Me' button to get started.</p>
         <h3>Staff Recommendations</h3>
         <p>We realize that quality is extremely important, and in this spirit we try to read and rate every single document that is uploaded onto our site.</p>
      </li>
      <li>&nbsp;</li>
      <li> &nbsp; </li>             
      <li>
      	<h1 id="link1">General Questions</h1>
        <h3>What is Research Nation?</h3>
        <p>Research Nation is an online marketplace for market research</p>
        <h3>What's different about it?</h3>
        <p>All content is user-generated and limited in length (5 pages maximum), and everything we put on the site is reviewed, rated, and fully curated.</p>
        <h3>How do you select buyers?</h3>
        <p>Anyone is free to buy research on the site. Most research will be for less than US$100, which means that it will be affordable to individuals and small businesses.</p>
        <h3>How do you guarantee quality?</h3>
        <p>Quality is very important to us and we ensure it through a couple of checks. First, we read, edit and review every single file that is uploaded onto our site. If something doesn't meet our quality standards, it won't be allowed. Second, we rate each review and the good ones will be given a  koala standard stamp of approval. Finally, every report comes with user reviews (powered through Facebook, so minimal spam), so you know what others think of the report.</p>
        <h3>Is it legal?</h3>
        <p>Yes, it is. We only allow original work on our site. No re-selling is allowed. In order to ensure that the files we get are original work, we ask that they be submitted in editable format – that is Excel, PowerPoint or Word.</p>
        <h3>How do you make money?</h3>
        <p>We make money by charging a commission on every document that is sold. This commission is 30%. </p>
        <h3>Who's on your team?</h3>
        <p>Koala Faisal, Baby Samreen and Koala with Four Arms, Ali.</p>
        <h3>Why are you doing this?</h3>
        <p>We're doing this because we're sick of paying thousands of dollars for market research that is no good. It's an industry that is just begging to be shaken up and democratized. By unlocking the power of intelligent minds on the internet – giving them a way to publish, be recognized and make money – we're hoping we can make some of the suits on Madison Avenue wake up and sweat it out a little bit.</p>
        <h3>How do you protect my privacy?</h3>
        <p>We realize this is a concern for you. Your data will always be your data, and there's no koala in the world that can change that. If you want to delete a post, you can do so in the manage section. If you want to delete your account altogether, just email us at admin@researchnation.net, and we'll get it done and send you a confirmation. Finally, rest assured we we will never share your information with anyone else without your permission.</p>
        <h1 id="link2">For Sellers</h1>
        <h3>How do I select and filter content?</h3>
        <p>Currently there's no search or filter tool in place. We're working on this and will be adding it soon though. Thank you for your patience!</p>
        <h3>Why can't I search for content?</h3>
        <p>Umm…we're working on this!</p>
        <h1 id="link3">For Buyers</h1>
        <h3>How does payment work?</h3>
        <p>We use PayPal for payment processing. Any time a document that you've uploaded is sold, we will send you an e-mail letting you know, and your PayPal account will be credited.</p>
        <h3>How much should I charge for my work?</h3>
        <p>Charge whatever you yourself would pay for your work. As a rough guideline though, you shouldn't charge more than US$50-100 per report (2-3 pages on a verage in length). </p>
        <h3>Can I list documents for free?</h3>
        <p>Absolutely you can, and if you're a first-time publisher, you should actually do this. It's a good way to build your reputation before you start charging for your work.</p>
        <h3>Why do you cap the document rate at US$1,000?</h3>
        <p>We don't want to become another large research firm that charges outrageous rates for its work. In most cases, your research will be limited to a few pages, so it's hard to justify charging such a premium. In any case, we're hoping that your motivation is more than just money. It's hard to build a follower base if you're charging too much: our model is low price, high volume.</p>
        <h3>What kind of sellers do you attract?</h3>
        <p>Individuals, small businesses and other companies looking for information that is very specific and hard to find on other parts of the internet.</p>
        <h3>Can I sell document anonymously?</h3>
        <p>You will get an e-mail from us.</p>
        <h3>Do I get any data analytics on my post?</h3>
        <p>Yes, but not now – we're working on adding this functionality soon.</p>
        <h3>What kinds of documents can I sell?</h3>
        <p>Word, Excel or PowerPoint files.</p>
        <h3>How do I delete or edit a post/document?</h3>
        <p>Pretty much anything you want to, really.  Examples are: industry research, company research, polls, surveys and call transcripts. Try to be short and to-the-point and include statistics (and sources) back up your facts. Also: try to draw on any specialized knowledge you have; your chances of being read (and bought) are far greater if you are writing on a niche that people don't know much about/ can't find information on directly through a Google search.</p>
        <h3>How long will my document remain online for?</h3>
        <p>We keep documents online indefinitely, but if you want to remove it, just let us know at admin@researchnation.net and we'll pull it off.</p>
        <h3>Who are you selling my work to?</h3>
        <p>To anyone who wants to buy it  In all likelihood, though, buyers will be individuals and small businesses – people who don't have enterprise level research subscriptions and can't afford US$1,000, per report.</p>
        <h3>How much commission do you charge?</h3>
        <p>We charge a 30% commission on each document that is sold.</p>
        <h3>How does the rating and review process work?</h3>
        <p>We read every document that is submitted and then add our rating and review for that. There is no science behind the methodology, but things that we look at are: quality of writing, provision of sources, layout and formatting and structure of the document.  Things that do NOT matter are: length of the document; topic that you're writing on; and nature of the document.</p>
        <h3>Can I respond to a review?</h3>
        <p>Yes, just post directly in the comments section below your post (on the seller page).</p>
        <h3>What kinds of documents can I sell?</h3>
        <p>Word, Excel or PowerPoint files.</p>
        <h3>What kinds of documents can I sell?</h3>
        <p>Word, Excel or PowerPoint files.</p>
        <h1 id="link3">For Market Research Firms</h1>
        <h3>Why should we sell through you?</h3>
        <p>Because we can bring you new customers and help you make more money   We realize that you don't want to cannibalize your existing sales, and so we offer the opportunity to sell white-label and singles products through us, which ensures that only new customers/ people who don't care about brand and wouldn't buy from you otherwise will come to you (i.e. it guarantees that you get new customers).</p>
        <h3>What kinds of documents can we sell?</h3>
        <p>You can sell any kind of market research that you want to. Currently we're only allowing singles (chapters of reports) and white label reports (you discount the price to under US$100, and sell under our brand). </p>
        <h1 id="link4">For Market Research Firms</h1>
        <h3>Why should we sell through you?</h3>
        <p>Because we can bring you new customers and help you make more money   We realize that you don't want to cannibalize your existing sales, and so we offer the opportunity to sell white-label and singles products through us, which ensures that only new customers/ people who don't care about brand and wouldn't buy from you otherwise will come to you (i.e. it guarantees that you get new customers).</p>
        <h3>What kinds of documents can we sell?</h3>
        <p>You can sell any kind of market research that you want to. Currently we're only allowing singles (chapters of reports) and white label reports (you discount the price to under US$100, and sell under our brand). </p>
        <h1 id="link5">Feedback/ Vote on New Features</h1>
        <h3>Here are a couple of ideas that we're thinking about – we'd love to get yout feedback on them:</h3>
				<p>1- Singles</p>
        <p>2- White Label Research</p>
        <p>3- Crowdsourced buying</p>
        <p>4- TripAdvisor Style Reviews</p>
        <h1 id="link6">The Expert Advisory Panel</h1>
        <h3>What is the Expert Advisory Panel?</h3>
        <p>The Expert Advisory Panel is a private advisory panel composed of leading industry experts. We have panels for most big industries.</p>
        <h3>Why can't I see it online?</h3>
        <p>If you are a buyer or company looking to source experts, please contact us directly at admin@researchnation.net. We do not publish the names of our 
experts online, so as to protect their privacy.</p>
				<h3>How will you use the information I gave you?</h3>
        <p>If it's ok with you (and we'll check to make sure) we may connect you with companies looking for expert advice every now and then. The matching process \is discrete and completely private, and it's a good way for you to make extra money (US$500+ per hour, on average).</p>
				<h3>I checked the box – what happens next?</h3>
        <p>If a company is interested in sourcing you as an expert, we will let you know, otherwise nothing much is going to happen really.</p>
        <h1 id="link7">Troubleshooting</h1>
        <h3>I have a question, what do I do?</h3>
        <p>We can Skype (or call) seller any time, let us know.</p>
        <h3>How do I get a refund?</h3>
        <p>Email us at admin@researchnation.net.</p>
				<h3>Problems with making or receiving a payment?</h3>
        <p>Email us at admin@researchnation.net to let us know</p>
      </li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>
      	<h1>Guidelines</h1>
      	<h3>General Guidelines</h3>
      	<p>Be concise and try to include the industry name, geography and research type in your description (for example: </p>
        <h3>Creating an Exec Summary</h3>
        <p>Do include an executive summary covering highlights of your research. If you don't have time to complete it, don't worry, we'll do it for you.</p>
        <h3>Adding Tags</h3>
        <p>Feel free to identify as many industries and geographies as are relevant. If you don't see what you want, create a new tag by typing it out and pressing enter</p>
        <h3>Setting a Price</h3>
        <p>As a rough guideline, the price you set will reflect uniqueness of your information and page length. In  general, don't price about US$100 if you are an individual, and above US$250 if you are a market research firm. </p>
        <h3>Adding a sample</h3>
        <p>Attach a sample if you want, else we will create one for you. Permitted doc types are Word, Excel and PPT - we do this to ensure all documents we get are original</p>
      </li>
      <li>
      <form name="Contact_us">
      	<h1>Get in touch!</h1>
        <div class="field">
          <label>Name</label>
          <input type="text" name="Frist Name" size="30" value="">
        </div>
        <div class="field">
          <label>E-mail</label>
          <input type="text" name="Email" size="30" value="">
        </div>
        <div class="field">
          <label>Subject</label>
          <input type="text" name="Email" size="30" value="">
        </div>
        <div class="field">
          <label>Message</label>
          <textarea name="About_you"></textarea>
        </div>
        <a href="#">Submit</a>
      </form>
      </li>
      <li>
      	<form name="Contact_us">
          <div class="field">
            <h2>We want to hear from you!</h2>
            <textarea name="About_you" style="width:580px; margin-bottom:10px;"></textarea>
            <a href="#" style="margin:0px !important;">Submit Feedback</a>
          </div>
        </form>
        <div class="field">
          <h2>The Story</h2
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
        </div>
        <h2>Team</h2>
        <div class="field">
        	<img src="images/user_pic.jpg" />
          <b>Faisal Khalid, Founder & CEO</b>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="field">
        	<img src="images/Ali Ibrahim.jpg" />
          <b>Ali Ibrahim, CTO</b>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
        </div>
        <div class="field">
          <h2>Vote on New Features</h2>
          <div class="facebook_like1"> 
          	<span> 1) Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
          	<a href="#">Like</a>
          </div>
          <div class="facebook_like2"> 
          	<span> 2) Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
          	<a href="#">Like</a>
          </div>
          <div class="facebook_like3"> 
          	<span> 3) Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
          	<a href="#">Like</a>
          </div>
          <div class="field">
            <h2>Get on the Koala Express!</h2>
            <input type="text" size="40" value="Enter Your Email Address" name="E-mail" />
            <a href="#">Enter</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="verticalslider_tabs right_side">
      <b>Benefits</b>
      <li><a href="#">Entrepreneurs</a></li>
      <li><a href="#">Freelancers & MBAs</a></li>
      <li><a href="#">Small Businesses </a></li>
      <li><a href="#">Market Research Firms</a></li>
      <br />
      <li class="features_link"><a href="#">Features</a></li>
      <br />
      <b>FAQs</b>
      <li class=""><a href="#link1" >General Questions</a></li>
      <li class=""><a href="#link2" >For Sellers</a></li>
      <li class=""><a href="#link3" >For Buyers</a></li>
      <li class=""><a href="#link4" >For Market Research Firms</a></li>
      <li class=""><a href="#link5" >Feedback/ Vote on New Features</a></li>
      <li class=""><a href="#link6" >The Expert Advisory Panel</a></li>
      <li class=""><a href="#link7" >Troubleshooting</a></li>
      <li class="guidelines_box"><a href="#">Guidelines</a></li>
      <li class="contact_us_link"><a href="#">Contact Us</a></li>
      <li class="about_us"><a href="#">About Us</a></li>
    </ul>
  </div> 
</div>
