<% content_for :html_title, 'Find, Buy and Sell Datasets, Research Reports, Charts, Graphs and More' %>
<div class="banner">
  <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
	<div class="banner_text">
			<div class="icons_main_page icon_box">
				<span><a href="http://researchnation.net/post/19-travel-and-tourism-in-jordan"><img src="images/report.png" /><p>Business</p></a></span>
				<span><a href="http://researchnation.net/post/20-consumer-expenditure-on-transport-services"><img src="images/chart.png" /><p>Finance</p></a></span>
				<span><a href="http://researchnation.net/post/21-sales-of-major-appliances-in-the-us"><img src="images/graphs.png" /><p>&nbsp;&nbsp;Retail</p></a></span>
				<span><a href="http://researchnation.net/post/23-hotel-industry-growth-projections-for-dubai"><img src="images/chapter.png" /><p>Real Estate</p></a></span>
				<span><a href="http://researchnation.net/post/34-stem-cell-research-a-market-insight-report"><img src="images/model.png" /><p>&nbsp; Health</p></a></span>
				<span><a href="http://researchnation.net/post/44-teens-and-texting"><img src="images/survey.png" /><p>&nbsp; Media</p></a></span>
				<span><a href="http://researchnation.net/post/25-interviews-with-successful-tech-startup-founders"><img src="images/interview.png" /><p>Startups</p></a></span>
				<span><a href="http://researchnation.net/post/26-data-on-electricity-consumption-in-south-africa"><img src="images/others.png" /><p>Others</p></a></span>
			</div>
		<div class="content_back main_page_content_container">
			<h2>So, you think you're smart?</h2>
		    <div style="margin-top:15px;" class="altering_text"> 
		    	<span>Sign up below to see if anyone will pay for your knowledge and insights. It's free and only takes 10 seconds to register.</span><br>
		    </div>
      <%= link_to ( "Start Selling Now! It's Free.", { :controller => "resources", :action => "upload_docs"}, { :class => 'green_button'} ) if logged_in? %>
			<%= link_to ( "Get Started Now! It's Free.", { :controller => "users", :action => "register", :opt =>"signup"}, { :class => 'green_button'} ) unless logged_in? %>
		</div>
	</div>
	<%= hidden_field_tag 'create_post', :value => false%>
</div>
<div class="facebook_like">
	<iframe src="http://www.facebook.com/plugins/like.php?href=www.researchnation.net&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
</div>

<div class="content">

</div>
