<div class="banner">
	<div class="banner_text">
		<h2></h2>
		<p>Research Nation is an online marketplace for finding, buying and selling market research</p>
		<a href="create a post.html">Free! Get started here</a>
	</div>
	<img src="/images/banner.jpg" />
</div>
<div class="facebook_like">
	<iframe src="http://www.facebook.com/plugins/like.php?href=www.researchnation.net&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
</div>
<div class="content">
	<div class="box1">
	<h4>HOW CAN I USE IT?</h4>
	<ul class="category">
		<li>
			<a href="/resources/new">
				<img src="/images/plant.png" />
				<b>Buy Intelligence</b>
				<p>All research is user-generated, original and to the point. Some of it is free, the rest is under US$1,000</p>
			</a>
		</li>
		<li>
			<a href="/profiles/new">
				<img src="/images/img3.png" />
				<b>Sell Intelligence</b>
				<p>Share your insights with the world - make money and build a reputation for functional expertise</p>
			</a>
		</li>
		<li>
			<a href="/profiles/new">
				<img src="/images/img4.png" />
				<b>Add Reviews & Find People</b>
				<p>Add and read reviews, and connect with industry professionals through the profiles section</p>
			</a>
		</li>
	</ul>
</div>
<div class="box2">
	<h4>WHAT CAN I SELL?</h4>
	<ul class="category">
		<li>
			<a href="/resources/new">
				<img src="/images/img5.png" />
				<b>Crispy, Original Insights</b>
				<p>It can be anything from an industry, sector or company report to poll results and call transcripts</p>
			</a>
		</li>
		<li>
			<a href="/resources/new">
				<img src="/images/bulb.png" />
				<b>Data & Analytics</b>
				<p>You can buy and sell original datasets with Koala-assured quality and authenticity</p>
			</a>
		</li>
		<li>
			<a href="/profiles/new">
				<img src="/images/img1.png" />
				<b>Custom Services </b>
				<p>By creating a profile, you can make yourself or your company available to provide custom market research services</p>
			</a>
		</li>
	</ul>
</div>
<div class="box3">
	<h4>SPREAD THE LOVE</h4>
	<div class="email_box">
		<b>Join the movement</b>
		<form name="subscribe" id="subscribe" method="post" action="/users/subscribe" >
			<input type="text" name="email" value="Enter Your Email Address" size="35" class="email_address" />
		</form>
		<b>Koala Video of the Day</b>
		<div class="video">
			<iframe title="YouTube video player" width="308" height="200" src="http://www.youtube.com/embed/8KW3E9uikgI" 		frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<h1><p>Stand Out, Be Heard <%= link_to "Join the movement!", :controller => "resources", :action => "new" %></p>
</h1>
