<% content_for :html_title, 'Find, read and write reviews of business intelligence reports for the technology sector.'%>
<div class="banner">
  <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
	<div class="banner_text">
			<div class="icons_main_page icon_box">
				<b>See Examples</b>
				<span><a href="http://researchnation.net/post/19-travel-and-tourism-in-jordan"><img src="images/report.png" /><p>Business</p></a></span>
				<span><a href="http://researchnation.net/post/20-consumer-expenditure-on-transport-services"><img src="images/chart.png" /><p>Finance</p></a></span>
				<span><a href="http://researchnation.net/post/21-sales-of-major-appliances-in-the-us"><img src="images/graphs.png" /><p>&nbsp;&nbsp;Retail</p></a></span>
				<span><a href="http://researchnation.net/post/23-hotel-industry-growth-projections-for-dubai"><img src="images/chapter.png" /><p>Real Estate</p></a></span>
				<span><a href="http://researchnation.net/post/147-stem-cells-market-and-technologies-2009-2015"><img src="images/model.png" /><p>&nbsp; Health</p></a></span>
				<span><a href="http://researchnation.net/post/44-teens-and-texting"><img src="images/survey.png" /><p>&nbsp; Media</p></a></span>
				<span><a href="http://researchnation.net/post/25-interviews-with-successful-tech-startup-founders"><img src="images/interview.png" /><p>Startups</p></a></span>
				<span><a href="http://researchnation.net/post/26-data-on-electricity-consumption-in-south-africa"><img src="images/others.png" /><p>Others</p></a></span>
			</div>
		<div class="content_back main_page_content_container">
			<h2>We provide reviews for tech research reports.</h2>
		    <div style="margin-top:15px;" class="altering_text">
          <span>Find, read or write reviews for 10,000+ technology focused business intelligence reports.</span><br>
		    </div>
      <%= link_to ("Get started now! Click here to add a review", { :controller => "comments", :action => "new"}, { :class => 'green_button'} )%>
		</div>
	</div>
	<%= hidden_field_tag 'create_post', :value => false%>
</div>
<div class="facebook_like">
	<iframe src="http://www.facebook.com/plugins/like.php?href=www.researchnation.net&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
</div>

<div class="content">

</div>
