<div class="banner">
	<h2>Market Research, Simplified</h2>
	<img src="/images/banner.jpg" />
	<p> Research Nation is an online marketplace for finding, buying and selling original market research</p>
	<%= link_to "Free! Get started here", :controller => "resources", :action => "new" %>
</div>
<div class="facebook_like">
	<iframe src="http://www.facebook.com/plugins/like.php?href=www.researchnation.net&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
</div>
<div class="content">
	<div class="box1">
	<h4>HOW DOES IT WORK?</h4>
	<ul class="category">
		<li>
			<a href="/main/how_it_works/#features">
				<img src="/images/img5.png" />
				<b>Crispy, Original Intelligence</b>
				<p>All research is user-generated, original and to the point. Some of it is free, the rest is under US$1,000</p>
			</a>
		</li>
		<li>
			<a href="/main/how_it_works/#features">
				<img src="/images/img6.png" />
				<b>Personalized, For You</b>
				<p>All posts are tagged (like Quora) and you only see content that is relevant to you</p>
			</a>
		</li>
		<li>
			<a href="/main/how_it_works/#features">
				<img src="/images/img4.png" />
				<b>Reviews</b>
				<p>All posts are edited, quality-checked and reviewed by our in-house Koalas and by users </p>
			</a>
		</li>
	</ul>
</div>
<div class="box2">
	<h4>WHO CAN USE IT?</h4>
	<ul class="category">
		<li>
			<a href="/main/how_it_works/#entrepreneurs">
				<img src="/images/img3.png" />
				<b>Entrepreneurs</b>
				<p>Publish the lessons learned from your start-ups and get access to affordable market intelligence </p>
			</a>
		</li>
		<li>
			<a href="/main/how_it_works/#freelancers">
				<img src="/images/img2.png" />
				<b>Market Research Firms</b>
				<p>Research Nation gives you a unique platform to publish, make money and gain an audience </p>
			</a>
		</li>
		<li>
			<a href="/main/how_it_works/#business">
				<img src="/images/img1.png" />
				<b>Small Businesses</b>
				<p>Read reviews to help decide which firms to chose. and buy market research at affordable prices </p>
			</a>
		</li>
	</ul>
</div>
<div class="box3">
	<h4>SPREAD THE LOVE</h4>
	<div class="email_box">
		<b>Subscribe to the newsletter</b>
		<form name="subscribe" id="subscribe" method="post" action="/users/subscribe" >
			<input type="text" name="email" value="Enter Your Email Address" size="35" class="email_address" />
		</form>
		<b>Koala Video of the Day</b>
		<div class="video">
			<iframe title="YouTube video player" width="308" height="200" src="http://www.youtube.com/embed/8KW3E9uikgI" 		frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<h1><p>Our special ingredient is that we keep it simple. <%= link_to "It's free - get started now!", :controller => "resources", :action => "new" %></p>
</h1>
