<div class="content">
  <div class="how_it_work_left_side">
    <ul>
      <li>
   			<h1>Why Market Research Firms Love Us</h1>
        <div class="how_it_works_field">
        	<img src="/images/img2.png" />
          <h3 style="margin-left:118px; width: 390px;">Gain Access to New Customers</h3>
          <p style="margin-left:118px;width:386px;">Want to bring on new customers, but don't have the ad budget? Research Nation can help you with that. It can also help diversify your customer base. If you want to sell through us, but are worried about pricing and other matters, let us know and we can put together a white label  offering for you</p>
        </div>
        <div class="how_it_works_field2">
          <h3 style="width:420px;">Manage Your Reputation Online</h3>
          <p style="width:420px;">Want to engage your customers? Use our online reviews and use our platform to get feedback on new products, features or anything else that you need input on (click here if you'd like to see this feature launched quicker)</p>
          <img src="/images/img4.png" />
        </div>
        <div class="how_it_works_field">
          <img src="/images/1303130854_kblogger.png" />
          <h3 style="width: 392px;">A New Kind of Marketing Platform</h3>
          <p style="width:389px;">Use Research Nation to broadcast your publications on Facebook and Twitter and drive more traffic to your site</p>
       </div>
      </li>
    </ul>
  </div>
  <%= render :partial => 'how_it_works_links' %>
</div>
