<div class="content">
  <div class="how_it_work_left_side">
    <ul>
      <li>
   			<h1>Why Market Research Firms Love Us</h1>
        <div class="how_it_works_field">
          <div class="image_box">
            <img src="/images/img2.png" style="margin-top:20px;" />
          </div>
          <div class="text_box">
            <h3>Gain Access to New Customers</h3>
            <p>Looking to get new customers? Research Nation can help you do this, without having to get into the yucky business of 'quoting.' You don't have to 'bid' for projects when you use Research Nation; customers contact you directly, or we match you with them. And if you want to sell through us, but are worried about pricing and other matters, let us know and we can put together a white label  offering for you</p>
          </div>
        </div>
        <div class="how_it_works_field2">
          <div class="text_box">
            <h3>Engage Customers Without Wasting Time</h3>
            <p>Want to engage your customers? Use our online reviews and use our platform to get feedback on new products and features before you launch them</p>
          </div>
          <div class="image_box">
            <img src="/images/img4.png" />
          </div>
        </div>
        <div class="how_it_works_field">
          <div class="image_box">
            <img src="/images/1303130854_kblogger.png" />
          </div>
          <div class="text_box">
            <h3>A New Kind of Marketing Platform</h3>
            <p>Worried about how your firm is (or is not) using social media? Use Research Nation to broadcast your publications on Facebook and Twitter and drive more traffic to your site</p>
          </div>
       </div>
      </li>
    </ul>
  </div>
  <%= render :partial => 'how_it_works_links' %>
</div>
