<div class="wrapper" id="page">
	<h1>Data Set</h1>
	<div id="resource" class="contentWithSideBar">
    <h2>I would sell all segment data</h2>
      <div id="buyBar">
		    <%= form_tag :action => 'orders'%>
          <div id="buyNow" class="submit">
	          <input id="order_resource_id" name="order[resource_id]" value="1195" type="hidden">
	          <%= submit_tag "Buy Now", :id => "order_submit"%>
          </div>
          <ul id="resourceNotes">
            <li id="cost"><h5>$1.00</h5></li>
            <li id="fieldAndRowCount"><h5>13 Fields / 20 Rows</h5></li>
            <li id="updatedAt"><h5>Updated August 30, 2010</h5></li>
          </ul>
        </div>
        <div id="description">
        <p>I would sell all segment data</p>
        </div>
        <div id="preview">
        <div class="subTitleBar">Sample Data</div>
        <div id="tableWrapper">
			    <table id="sampleData">
            <thead>
	            <tr>
		            <th class="spacer first"></th>
					      <th class="field_quarter_tag">Quarter Tag</th>
                <th class="field_organisation">Organisation</th>
                <th class="field_name">Name</th>
		            <th class="field_designation">Designation</th>
		            <th class="field_phone_no">Phone No</th>
		            <th class="field_mobile_no">Mobile No</th>
		            <th class="field_e_mail">E Mail</th>
		            <th class="field_postal_address">Postal Address</th>
		            <th class="field_city___area">City / Area</th>
		            <th class="field_state">State</th>
		            <th class="field_region">Region</th>
		            <th class="field_pin_code">Pin Code</th>
		            <th class="field_segment">Segment</th>
		            <th class="spacer last"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd">
		            <td class="spacer first"></td>
                <td class="field_quarter_tag">Lenovo Q3 08</td>
                <td class="field_organisation">(DNADS)D Newage School of Design</td>
                <td class="field_name">Sanjay</td>
                <td class="field_designation">Head of Institute</td>
                <td class="field_phone_no">27134800</td>
                <td class="field_mobile_no">9871631570</td>
                <td class="field_e_mail">dnadshelpdesk@yahoo.com</td>
                <td class="field_postal_address">2526 Hudson Lines,Vinay Nagar crossing,New Delhi,New Delhi,Delhi &amp; NCR,110009</td>
                <td class="field_city___area">New Delhi</td>
                <td class="field_state">Delhi &amp; NCR</td>
                <td class="field_region">North</td>
                <td class="field_pin_code">110009</td>
                <td class="field_segment">Education &amp; Institute</td>
                <td class="spacer last"></td>
	            </tr>
	            <tr class="even">
		            <td class="spacer first"></td>
					      <td class="field_quarter_tag">Lenovo Q3 08</td>
		            <td class="field_organisation">(MERIT) Mohyal Educational and Research Institute of Technology</td>
		            <td class="field_name">Vinay Dutta</td>
		            <td class="field_designation">Centre Head</td>
                <td class="field_phone_no">26968829/26961182</td>
                <td class="field_mobile_no">9891716601</td>
                <td class="field_e_mail">rkd_nr@yahoo.com</td>
                <td class="field_postal_address">A-9,USO Road,Qutab Institutional area,New Delhi,New Delhi,Delhi &amp; NCR,110067</td>
                <td class="field_city___area">New Delhi</td>
                <td class="field_state">Delhi &amp; NCR</td>
                <td class="field_region">North</td>
                <td class="field_pin_code">110067</td>
                <td class="field_segment">Education &amp; Institute</td>
                <td class="spacer last"></td>
	            </tr>
            </tbody>
          </table>
	      </div>
      </div>
      <a name="comments"></a>
      <h3>Comments &amp; Questions</h3>
      <div id="comments">
      </div>
      <p id="noComments">
        No one has commented on this resource.  Be the first to comment or ask a question.
      </p>
      <h4>Post a comment or question</h4>
      <form action="/resources/i-would-sell-all-segment-data/comments" class="new_comment" id="new_comment" method="post">
        <div class="shortForm">
	        <div class="hidden">
		        <input id="comment_commentable" name="comment[commentable]" value="Resource" type="hidden">
          </div>
	        <div id="resourceId" class="hidden"></div>
            <div class="input text">
              <label for="comment_name">Name</label>
              <input id="comment_name" name="comment[name]" size="30" tabindex="1" type="text">
          </div>
          <div class="input text">
            <label for="comment_email">E-mail Address (optional, will not be shared)</label>
            <input id="comment_email" name="comment[email]" size="30" tabindex="2" type="text">
          </div>
          <div class="input textarea">
            <label for="comment_body">Comment</label>
            <textarea cols="40" id="comment_body" name="comment[body]" rows="5" tabindex="3"></textarea>
				  </div>
				  <div class="submit">
					  <input id="comment_submit" name="commit" tabindex="4" value="Post Comment" type="submit">
				  </div>
        </div>
      </form>
      <div id="attachPopup" class="jqmWindow jqmID2">
        <div class="jqmPage page">
          <a href="#" class="jqmClose"><img alt="close" src="i-would-sell-all-segment-data_files/close_button.png"></a>
          You must be logged in.  <a href="/users/login">Sign in now</a>.
			  </div>
      </div>
	  </div>
	  <div class="sideBar">
      <div id="formats" class="panel">
		    <h3>Did you know?</h3>
		    <p>All of the data sold at Data Marketplace is available immediately for download in the following easy to access formats:</p>
        <ul>
		      <li><img alt="Icon_csv" src="i-would-sell-all-segment-data_files/icon_csv.png"></li>
		      <li><img alt="Icon_xlsx" src="i-would-sell-all-segment-data_files/icon_xlsx.png"></li>
		      <li><img alt="Icon_xml" src="i-would-sell-all-segment-data_files/icon_xml.png"></li>
        </ul>
		  </div>
    </div>
  </div>
