<div class="content">
  <div class="how it how_it_work_left_side">
    <ul>
      <li>
        <h1>Why Small Businesses Love Us</h1>
        <div class="how_it_works_field">
          <img src="/images/browse.jpg" style="border:1px solid #999; height: 200px; margin-right: 50px; width: 290px;" />
          <h3 style="width:278px;">Easy to use, easy to understand</h3>
          <p style="width:275px;">Research Nation's easy to use format means that you can find what you're looking for in less than 30 seconds. </p>
        </div>
        <div class="how_it_works_field2">
          <h3 style="width:400px;">Savings</h3>
          <p style="width:400px;">At Research Nation, you only pay for what you want. No need to buy a 50 page report when all you really need is 2 pages. All our reports are under 5 pages.</p>
          <img src="/images/overprice.jpg" width="240" height="200" />
        </div>
        <div class="how it how_it_works_field">
        <img src="/images/flying_brid.jpg" width="188" height="165" />
          <h3 style="margin-left:0px !important; width: 392px;">Reviews and Recommendations</h3>
          <p style="width:390px;">Most sites make you spend US$1,000 without providing any reviews or comments to help you decide. We do things differently - try and let us know if you like it!</p>
       </div>
      </li>
    </ul>
  </div>
  <%= render :partial => 'how_it_works_links' %>
</div>
