<h4 style="margin-bottom:0px;">Interested In</h4>
<div class="interests">
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="FT projects" name="interested_in" checked="checked" />
    <label>FT projects</label>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="PT projects" name="interested_in" checked="checked" />
    <label>PT projects</label>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="Immediate start" name="interested_in" checked="checked" />
    <label>Immediate start</label>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="Local only" name="interested_in" checked="checked" />
    <label>Local only</label>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="30 mins free phone consultation" name="interested_in" checked="checked" />
    <label style="width:300px;">30 mins free phone consultation</label>
  </div>
</div>