<div style="display: none;">
  <div id="message_form" class="message_form" style="width:550px;overflow:hidden;">
    <div id="form">
      <% unless logged_in? %>
        <%= render :partial => 'users/register'%>
        <% session[:profile_id] = @profile.url_slug %>
    </div>
      <% else %>
        <% session[:profile_id] = nil %>
        <%= form_remote_tag ( :update => 'message',
        :url => { :controller => 'profiles', :action => 'send_message_to_profile', :id => @profile.url_slug } , :after => 'jQuery.fancybox.close();' ) %>
          <div class="popup_message_box">
            <h2>Contact <%= @profile.name %></h2>
            <div class="field">
              <label>Name</label>
              <input type="text" name="name" id="contact_name" class="required" />
            </div>
            <div class="field">
              <label>Email</label>
              <input type="text" name="email" id="contact_email" class="required" />
            </div>
            <div class="field">
              <label>Subject</label>
              <input type="text" name="subject" id="contact_subject" class="required" />
            </div>
            <div class="field">
              <label>Message</label>
              <textarea name="message" rows="8" cols="25" id="contact_message" class="required max_len", max_length=1000 /></textarea>
            </div>
            <div class="send_button">
              <%= submit_tag 'Send Message', :id => 'submit', :class => 'green_button' %>
              <input type="reset" id="reset" name="reset" value="Reset" id="" style="display:none;" />
            </div>
          </div>
        </div>
	    <% end %>
  </div>
</div>
