<% unless @profile.user.about_me.blank? %>
<div class="facebook_back">
  <span id="tab2" class="sign_up" style="" onclick="showTab('one');" href="#">About Me</span>
  <div class="sign_up_box">
    <div class="field field1">
      <span class="field_text"><%= @profile.user.about_me %></span>
    </div>
  </div>
</div>
<% end %>
<% unless @profile.humor_me.blank? %>
<div class="facebook_back">
  <span id="tab2" class="sign_up" style="" onclick="showTab('one');" href="#">Humor Me</span>
  <div class="sign_up_box">
    <div class="field field1">
      <span class="field_text"><%= @profile.humor_me %></span>
    </div>
  </div>
</div>
<% end %>
<% unless @profile.user.resources.blank? %>
  <div class="facebook_back">
    <span id="tab2" class="sign_up" style="" onclick="showTab('one');" href="#">Posts</span>
    <div class="sign_up_box">
      <% @profile.user.resources.each do |post| %>
      <div class="field1">
        <span><%= link_to (  post.title, { :controller => 'resources', :action => 'seller_page', :id => post.id },  { :class => "web_link" }) %></span>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
<% unless @profile.interested_in.blank? %>
  <div class="facebook_back interests">
    <span id="tab2" class="sign_up" style="" onclick="showTab('one');" href="#">Interested In</span>
    <div class="sign_up_box">
        <% @interests.each do |i|%>
        <div class="field field1">
          <input type="checkbox" name="interests" checked="checked" disabled="disabled" />
          <label class="check_box_text"><%= i %></label>
        </div>
        <% end %>
    </div>
  </div>
<% end %>
