<% unless @profile.description.blank? %>
<div class="facebook_back">
  <span class="sign_up">About Me</span>
  <div class="sign_up_box">
    <div class="field field1">
      <p class="about_field_text"><%= @profile.description.gsub("\n", "<br />") unless @profile.description.blank? %></span>
    </div>
  </div>
</div>
<% end %>
<% unless @profile.humor_me.blank? %>
  <div class="facebook_back">
    <span id="tab2" class="sign_up">Your Work Style</span>
    <div class="sign_up_box">
      <div class="field field1">
        <p class="about_field_text"><%= @profile.humor_me.gsub("\n", "<br />") %></span>
      </div>
    </div>
  </div>
<% end %>
<% unless @profile.user.resources.blank? %>
  <div class="facebook_back">
    <span id="tab2" class="sign_up" style="" onclick="showTab('one');" href="#">Posts</span>
    <div class="sign_up_box">
      <% @profile.user.resources.each do |post| %>
      <div class="field1 user_links">
        <%= link_to (  post.title, { :controller => 'resources', :action => 'seller_page', :url_slug => post.url_slug },  { :class => "web_link" }) %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
<% unless @profile.interested_in.blank? %>
  <div class="facebook_back interests">
    <span id="tab2" class="sign_up" style="" onclick="showTab('one');" href="#">Interested In</span>
    <div class="sign_up_box">
        <% @interests.each do |i|%>
        <div class="field field1">
          <input type="checkbox" name="interests" checked="checked" disabled="disabled" />
          <label class="check_box_text"><%= i %></label>
        </div>
        <% end %>
    </div>
  </div>
<% end %>
