<div class="contant">
  <div class="contant_back">
  	<h2 class="profile_heading" style="margin-left:90px;">Create a Profile</h2>
    <div class="profile_boxs">
    	<div class="profile_box">
      	<a href="/profiles/individual?profile_type=individual" class="inner_profile_box">
        	<img src="/images/1303299545_devid.png" />
          <span>Individual</span>
        </a>
      </div>
      <div class="profile_box">
      	<a href="/profiles/company?profile_type=company" class="inner_profile_box">
        	<img src="/images/1303299529_Home.png" />
          <span>Company</span>
        </a>
      </div>
    </div>
  </div>
</div>
