<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Registration Email</title>
  </head>

  <body>
    <p>Hi,</p>
    <p>  Thank you for signing up for Research Nation!</p>

    <p>
      Research Nation is an online marketplace for<br />
      finding, buying and selling original market research.
    </p>

    <p>
      Our mission is to fundamentally change the way <br />
      market research is created and consumed, and we<br />
      hope that with a little bit of help from you and<br />
      your friends, we can create the world's largest <br />
      and most collaborative marketplace for market research.
    </p>

    <p>  
      We'd love to hear your thoughts on the site! <br />
      Please email us at 
      <a href="mailto:admin@researchnation.net">admin@researchnation.net</a>.<br />
      You can also follow us on twitter <a href="http://twitter.com/researchnation">@researchnation</a>.</p>

    <p>  Yours,</p>

    <p>  Faisal & the team @ ResearchNation.net</p>
  </body>
</html>
