<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Registration Email</title>
  </head>

  <body>
    <h3>Welcome <%= @first_name%>. You have successfully Signed Up for Research Nation</h3>
    <p>Following are your account details.</p>
    <p>First Name: <%= @first_name %></p>
    <p>Last Name: <%= @last_name %></p>
    <p>Email Address: <%= @email %></p>
  </body>
</html>
