<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Registration Email</title>
  </head>

  <body>
    <h3>Dear <%= @first_name%>

    Thank you for signing up for Research Nation!</h3>

    Research Nation is an online marketplace for finding, buying and selling original market    research.

    Our mission is to fundamentally change the way market research is created and consumed, and we hope that with a little bit of help from you and your friends, we can create the world's largest and most collaborative marketplace for market research.

    We'd love to hear your feedback on the site! Please send us your thoughts at <a href="mailto:admin@researchnation.net">admin@researchnation.net</a>. You can also follow us on twitter <a href="http://twitter.com/researchnation">@researchnation</a>.

    Yours,


    Faisal & the team @ ResearchNation.net
  </body>
</html>
