<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Research Nation: Your marketplace offering has been requested!</title>
  </head>

  <body>
    <p>Hi,</p>

    <p>This is to let you know that <%= link_to @requestor.name, {:controller => "profiles", :action => "profile_page", :host => "researchnation.net", :url_slug => @requestor.url_slug}%> has requested <br />
    the following offering of yours:</p>

    <p><b>"<%= @resource.title%>."</b></p>
    
    <p>
      Please upload your document now by creating a new marketplace listing. <br />
      We'll take care of notifying the buyer, so you don't have to worry about that.<br />
    </p>

    <p>
      If you have any questions about your listing, <br />
      please check out the <a href="http://researchnation.net/main/faqs">FAQs section</a><br />
      on the site, or drop us a note and we'll get back to you pronto.
    </p>

    <p>Yours,</p>

    <p>Faisal & the team @ ResearchNation.net</p>
</body>
</html>
