Dear <%= @user.first_name%>,

This is to confirm your purchase of "<%= @resource.title%>."

Thank you so much for your patronage, and do visit us again! We'd love to hear from you any time, please email us at <a href="mailto:admin@researchnation.net">admin@researchnation.net</a>.

If you have any questions about your purchase, please check out the <a href="http://researchnation.net/main/faqs">FAQs section</a> on the site, or drop us a note and we'll get back to you pronto.

Finally, we would appreciate if you could <a href="http://researchnation.net/post/<%=  @resource.url_slug %>">add a review</a> for your purchase. Your comments would be tremendously helpful to other buyers, and will help ensure that only the highest quality material stays on our site.

Yours,


Faisal & the team @ ResearchNation.net

