<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Purchase Email</title>
  </head>

  <body>
    <p>Hi,</p>

    <p>This is to confirm your purchase of:</p>

    <p><b>"<%= @resource.title%>."</b></p>
    
    <p>
      Thank you for your patronage, and do visit us again!<br />
      We'd love to hear from you any time, please email us at <a href="mailto:admin@researchnation.net">admin@researchnation.net</a>.
    </p>

    <p>
      We would appreciate if you could <br /> 
      <a href="http://researchnation.net/post/<%=  @resource.url_slug %>">add a review</a> for your purchase.<br />
      Your comments would be tremendously helpful to other buyers, <br />
      and will help ensure that only the highest quality material stays on our site.
    </p>
    
    <p>Yours,</p>

    <p>Faisal & the team @ ResearchNation.net</p>
</body>
</html>
