<div class="tab_container">
  <table border="0" cellspacing="5px" cellpadding="5px" id="users_table" >
  <tbody>
    <tr>
      <th>Name</th>
      <th>Pending payment?</th>
      <th>Details</th>
    </tr>
    <% @users.each do |user|%>
      <tr>
        <td ><%= user.profile.name unless user.profile.blank? %></td>
        <td ><%= user.has_pending_payment? ? (link_to "Yes", {:controller => "admin", :action => "detailed_user_payments" , :user_id => user.id}) : "No" %></td>
        <td ><%= link_to "Details", {:controller => "admin", :action => "detailed_user_payments" , :user_id => user.id}%></td>
      </tr>
    <% end %>
  <tbody>
  </table>
  <%= will_paginate @users %>
</div>
