<%= javascript_include_tag "user_payments"%>
<ul class="tabs browse_tabs">

  <li><a href="#pending-earnings" id="pending-earnings-link">Pending Earnings</a></li>
  <li><a href="#paid-earnings" id="paid-earnings-link">Paid Earnings</a></li>
</ul>
<div class="profile_right">
  <div class="tab_container profile_fixed_box">
    <div id="pending-earnings" class="tab_content">
      <%= render :partial => "/users/monthly_earnings", :locals => {:earnings => @user.monthly_pending_earnings}, :layout => false %>
    </div>
    <div id="paid-earnings" class="tab_content">
    </div>
  </div>
</div>

