
/* slider root element */
.slider { 
	background: url(/images/price_back.jpg) repeat-x 0 0; 
	height:9px; 
	position:relative; 
	cursor:pointer;
	width:345px;
	float:left; 
	top:33px;
	clear:right;
	margin-left:8px;
	margin-top:10px;
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#245A83 url(../../../img/gradient/h30.png) repeat-x 0 0; 
	height:14px;
	width:14px;
	top:-5px;
	position:absolute; 
	display:block; 
	margin-top:1px;
	border:1px solid #000;
	cursor:move;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	-moz-border-radius:14px;
	-webkit-border-radius:14px; 

}

/* the input field */
.range {
	border:1px inset #ddd;
	float:right;
	font-size:12px;
	margin:0 0 0 15px;
	padding:3px;
	font-weight: bold;
	text-align:center;
	width:50px;
	color:#FFFFFF;
	position:relative;
	background-color:#A0A0A0;
	top:-22px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.start_range {
	border:1px inset #ddd;
	float:left;
	font-size:12px;
	font-weight: bold;
	margin:0 0 0 6px;
	padding:3px;
	text-align:center;
	width:35px;
	color:#FFFFFF;
	position:relative;
	background-color:#A0A0A0;
	top:20px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 		
}


