.request {
  width: 650px;
  position: relative;
  padding: 6px 0;
  margin-top: 6px;
}

.mini_request {
  width: 440px;
  float:left;
  margin-bottom:10px;
}

.request h4.description {
  padding: 0;
  margin: 0;
  position: relative;
}

.mini_request h4.description {
	float:left;
	font-size:13px;
	height:17px;
	line-height:16px;
	margin-bottom:5px;
	margin-right:5px;
	overflow:hidden;
	width:320px;
}

.request ul.details {
  font-size: 10px;
  height: 20px;
  float:left;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.request .details li {
  float: left;
  padding: 0 10px 0 0;
  line-height: 20px;
  vertical-align: middle;
}

.request .details li:first-child {
  padding-left: 0;
  border-left: none;
}

.request .details .deadline {
  background: transparent url('/images/deadline.png') no-repeat center left;
  padding-left: 24px;
}

.request .details .budget {
  background: transparent url('/images/budget.png') no-repeat center left;
  padding-left: 24px;
}

.request .details .comments {
  background: transparent url('/images/comments.png') no-repeat center left;
  padding-left: 24px;
}

.facebook{
	float:left;
}

.private_sale{
	-moz-border-radius:4px 4px 4px 4px;
	background-color:#F5F5F5;
	border:1px solid #D9D9D9;
	display:table;
	margin:0;
	padding:5px;
	width:100px;
	text-align:center;
}

.private_sale a{
	float:left;
	margin-top:5px;
	width:75%;
	text-align:center;
}

.twitter{
	float:left;
	background: transparent url(/images/1297954513_twitter.png) no-repeat center left;
	width:16px;
	height:16px;
}

.request .details .datasets {
  background: transparent url('/images/datasets.png') no-repeat center left;
  padding-left: 24px;
}

.request .userOptions .head {
}
