@charset "utf-8";
/* CSS Document */

body {
  	font-size: 12px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", "Arial", "FreeSans", sans-serif;
	background-color:#FFF;
	color: #525252;
	margin:0px;
}

/* text, headers & paragraphs */
h1, h2, h3, h4, h5, h6 {
  color: #4c4c4c;
  font-weight: bold;
}

ol, ul {
    list-style: none outside none;
}

/* page title text */
h1 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 28px;
  margin: 6px 0 6px 0;
}

/* detailed page title */
h2 {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #333;
  line-height: 28px;
  margin: 12px 0 6px 0;
  font-weight: bold;
}

/* sidebar header / sub header */
h3 {
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #333;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 12px;
}


/* miscellaneous paragraph titles, listed resource titles */
h4 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 18px;
}

/* descriptive attributes, usually formatted in a padded box */
h5 {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  line-height: 14px;
}


/* footnotes */
h6 {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  line-height: 14px;
}

p {
  line-height: 18px;
  margin:0px;
}

/* links */
a {}
a:link,
a:visited {
  color: #245a83;
  text-decoration: none;
  outline:none;
}
a:hover,
a:active {
  color: #113a5a;
}

a{
	outline:none;	
}
a:focus {
  outline: #303d49 dotted thin;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
}


.wrapper h1{
	float:left;
	width:100%;
	margin-top:60px;
	margin-bottom:60px;
	text-align:center;
}



.header{
	float:left;
	margin:0px;	
}

.header img{
	float:left;
	margin:0px;
	border:medium none;
}

.header a{
	float:left;
	width:320px;
}

.banner_text {
    float: left;
    margin-right: 200px;
    width: 365px;
}
.banner_text h2 {
    color: #525252;
    float: left;
    font-size: 30px;
    line-height: 40px;
    margin-top: 70px;
    width: 100%;
}
.banner_text p {
    color: #525252;
    float: left;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}
.main_menu{
	float:right;
	margin:20px 0px 0px 0px;
	width:660px;
}

.main_menu ul{
	margin:0px;
}

.main_menu li{
	float:left;
	list-style:none;
	list-style-type:none;
	border-right:1px solid #bebebe;
}

.main_menu a{
	float:left !important;
	width:auto !important;
	margin-left:20px;
	margin-right:10px;
}

.main_menu a:hover {
	text-decoration:underline;
}

.banner{
	float:left;
	width:100%;
}

.facebook_like{
	float:right;
	width:50px;
	margin-top:20px;
}

.connect_widget {
	float:right !important;
}

.banner_text a{
	text-align:center;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #aac84a 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #aac84a));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #aac84a 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#aac84a, endColorStr=#8eaf32);
	float:left;
	color: #FFF;
	font-size:16px;
	font-weight:bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor:pointer;
	padding:10px;
	width:240px;
	margin-top:20px;
	border:medium none;
}

.banner_text a:hover{
	text-decoration:none !important;
	background-color:#8eaf32 !important;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32);
}

.banner img {
    float: left;
    margin-top: 50px;
    width: 185px;
}

.content{
	float:left;
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
}

.how_it_work_left_side p{
	font-size:16px !important;
}

.box1, .box2, .box3{
	float:left;
	width: 357px;
	height:339px;
	border-right:1px solid #CCC;
	padding:10px;
}

.box3{
	width:246px !important;
	border-right:none !important;
}
.box1 h4, .box2 h4, .box3 h4{
	font-family: "Garamond 3 W01";
	font-size:14px;
	color:525252;
	margin:0px;
}

.category{
	float:left;
	width:100%;
	padding:0px;
	margin:30px 0 0;
}

.category li{
	float:left;
	width:100%;
	border-bottom:1px solid #CCC;
	list-style:none;
	margin-bottom:5px;
	padding-bottom:5px;
	list-style-type:none;
}


.category img{
	border: 0 none;
  float: left;
  margin-right: 10px;
  width:65px;
}

.category b{
	float: left;
    margin-bottom: 8px;
    width: 275px;
	font-size:16px;
	color:#525252;
}

.category p{
	float: left;
	width: 280px;
	color:#525252;
}

.category a{
	background-image: url("../images/tip.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  float: left;
  width: 360px;
  padding:13px 0px;
}

.category a:hover {
	background-color:#E5E5E5;
}
.email_box{
	float:left;
	margin-top:30px;
}

.email_box b{
	float:left;
	width:100%;
	color:#525252;
	font-size:14px;
}

.email_box input{
	float:left;
	padding:5px;
	color:#999;
	width:295px;
	border:1px solid #CCC;
	margin-top:5px;
	margin-bottom:20px;
}

.video{
	float:left;
	margin-top:10px;
}



/*--- footer_menu ----*/

.footer_menu{
	float:left;
	width:800px;
	margin-top:20px;
	padding-left:165px;
}

.footer_menu ul{
	margin:0px;
	padding:0px;
}

.footer_menu li{
	float:left;
	list-style:none;
	list-style-type:none;
	border-right:1px solid #CCC;
}

.footer_menu a{
	float:left;
	margin-right:15px;
	margin-left:15px;
}

.footer_menu a:hover{
	text-decoration:underline;
}

.footer_box{
	padding:0px;
	margin:0px;
}

.footer_box p{
    float:left;
    width:15px;
    text-align:center;
}

.footer_box li{
	width:195px !important;
	margin-bottom:40px;
	border-right:0px !important;
	
}
.footer_box a{
	margin-left: 0px !important;
    margin-right: 0 !important;
}

.footer_box span{
	float:left;
	color:#848484;
	margin-left:14px;	
}


/*---- Registration_page_css ------ */

.content_back{
	float:left;
	width:94%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#f0f0e9;
	padding:15px;
}

.content_back b{
  color: #245A83;
  float: left;
  font-size: 14px;
  margin-bottom: 9px;
	margin-top: -3px;
  width: 100%
}


.round_box{
	float:left;
	box-shadow:5px -5px 20px #bebebe;
	-webkit-box-shadow:0 0 20px #bebebe;
	-moz-box-shadow:0 0 20px #bebebe;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:600px;
	background-color:#FFFFFF;
	padding:10px;
}

.round_box h3{
	float:left;
	margin:10px 5px 10px 5px;
	font-weight:bold;
	font-size:30px;	
}

.round_box img{
	margin-top:10px;
}

.looding_text{
	float:left;
	width:100%;
	margin-bottom:20px;
}

.looding_text b{
	float:left;
	width:260px;
	font-size: 12px !important;
	margin-bottom:0px !important;
	margin-top: 0px !important;
}

.looding_text a{
	float:left;
	width:260px;
	font-weight:bold;
}

.looding_text a:hover{
	text-decoration:underline;
}

.looding_text h5{
	float:left;	
	width:265px;
	font-size:12px;
	margin:0px;
	padding:0px;
}

.looding_text h6{
	float:left;	
	width:75px;
	margin:0px;
	padding:0px;
	font-size:12px;
}

.login_tab{
	float:left;
	width:100%;
}


.sign_up{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#CCC;
	text-decoration:none;
	float:left;
	list-style:none;
	font-size:18px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	padding:10px;
	list-style-type:none;		
}

.sign_up a{
	outline:none;	
}

.login{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-decoration:none;
	float:left;
	padding:10px;
	text-align:center;
	list-style:none;
	list-style-type:none;
	font-size:18px;
	font-weight:bold;
}


.login_tab a:hover{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#E5E5E5;
	text-decoration:none;
	list-style:none;	
}


.sign_up_box, .login_tab_box{
	float:left;
	width:100%;
	border:1px solid #CCC;	
	margin-top:10px;
}

.facebook_box{
	float:left;
	padding:10px;
	width:97%;
	border-bottom:1px solid #CCC;	
}


.facebook_box b{
	float:left;
	font-size:18px;
	width:100%;
	margin:0px !important;
	margin-top:10px;	
}

.facebook_box a{
	float:left;
	margin-top:10px;
}

.facebook_box img{
	border:medium none;	
}

.facebook_box a{
	background:none !important;
}

.sign_up_box b{
	float:left;
	font-size:18px;
	width:100%;
	margin-left:10px;
	margin-top:10px;	
	text-align:left;
}


.login_tab_box b{
	float:left;
	font-size:18px;
	width:100%;
	margin-left:10px;
	margin-top:10px;
}

.forgot{
	float:right;
	width:450px;
	margin-top:5px;	
}

.register_form a{
	float:left;	
}
.register_form h2{
	background-color:#ebebeb;
	-moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	bottom: 10px;
	float: left;
	left: 43;
	margin: 0;
	padding: 10px;
	position: relative;
	right: 10px;
	width: 100%;
}

.register_form a:hover{
	text-decoration:underline;
	background:none;
}

.register_form span{
	float:left;
	width:100%;
	margin-bottom:20px;	
	margin-left:8px;
}

.register_form .error{
	color: red;
  margin-bottom: 2px;
  margin-left: 111px;
  margin-top: 4px;
}

.register_form{
	float:left;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-decoration:none;
	width:93%;
	margin:10px;
	background-color:#f6f6f6;
	border:1px solid #CCC;
	padding:10px;
}

.field{
	float:left;
	width:100%;
	margin-bottom:10px;	
	height:auto !important;
}

.field label{
	float:left;
	width:105px;
	margin-top:5px;
	padding-left:8px;
	text-align:left;
}

.field input{
	float:left;
	border:1px solid #CCC;
	padding:5px;
}

.field textarea{
	border: 1px solid #CCCCCC;
    float: left;
    height: 130px;
    width: 350px;
	padding:5px;
}

.field i{
	float:right;
	width:450px;
	margin-top:3px;
	font-size:11px;
	position:static !important;
}
.field h5{
	margin-top: 150px;
	float: none;
	margin-left: 450px;
	font-weight: bold;
	font-size: 14px;
	margin-bottom:0px;
}

.field_text{
	width:500px !important;
	margin-top:5px !important;
}

.bold_text{
	width:120px !important;
	margin-top:2px !important;
}
.check_box{
	float:left;
	width:550px;
}

.check_box input{
	margin-right:5px;
	float:left;	
}

.check_box span{
	 border: 0 none !important;
    float: left;
    font-weight: normal !important;
    padding-top: 3px;
    position: relative;
    width: 515px !important;

}

.sign_up_button{
	float:left;
	margin: 10px;

}

.sign_up_button input{
	-webkit-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom , #8EAF32 22%, #AAC84A 81%) repeat scroll 0 0 transparent;
	-moz-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #AAC84A 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #AAC84A));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #AAC84A 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#AAC84A);	
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	text-align: center;
}	


.sign_up_button input:hover{
	text-decoration:none !important;
	background-color:#8eaf32 !important;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32);	
	width:auto !important;
}


.seller_back, .facebook_back{
	float:left;
	box-shadow:5px -5px 20px #bebebe;
	-webkit-box-shadow:0 0 20px #bebebe;
	-moz-box-shadow:0 0 20px #bebebe;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:670px;
	background-color:#FFFFFF;
	padding:10px;
}

.facebook_back{
	margin-top:30px;
}

.search_content{
	float:left;
	width:100%;
	background-image:url(../images/serach_back.jpg);
	background-position:right;
	background-repeat:repeat-y;
	min-height: 431px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #999;
}


.left_content{
	float:left;
	width:615px;
}

.seller_left{
	float:left;
	width:704px;
}

.seller_right{
	float:left;
	width:258px;
}
.right_content{
	float:right;
	width:365px;
	padding:20px;
}

.fixed_box{
	float:left;
	width:365px;
}

.price_box{
	float:left;
}

.post{
	float:left;
	border-bottom:1px solid #666;
	width:613px;
}

.address1{
	width:74px;
}

.post_title{
	float:left;
	width:100%;
	margin-bottom:5px;
}

.post_title img{
	border:0px !important;
	float:left;
	width:30px !important;
	height:30px !important;
}

.post a{
	float:left;	
	padding:10px 0px 10px;
}

.post p{
	float:right;
	padding-right:8px;
	
}
.post a:hover{
	background-color:#f0f0f0;
}

.post_title span{
	float: left;
	font-size: 16px;
	font-weight: bold;
	height: 25px;
	margin-left: 10px;
	overflow: hidden;
	padding-top: 5px;
	width: 550px;
}

.post_title a:hover{
	text-decoration:underline;
}

.reviews_box{
	float:left;
	width:590px;
	height: 20px;
	padding-top:5px;
	overflow: hidden;
	margin-left:10px;
}

.reviews_link{
	float:left;
	width:440px;
}


.reviews_link a{
	float:left;
	color:#333;
	margin-right:5px;
}


.reviews_link a:hover{
	text-decoration:underline;
}

.reviews{
	float:left;
	width:145px;
	text-align:right;
}

.description{
	float:left;
	width:590px;
	overflow:hidden;
	height:55px;
	margin-bottom:20px;
	margin-left:10px;
}

.description p{
	float:left;
}

.description a:hover{
	text-decoration:underline;
}


.summary, .view_sample, .about_seller{
	float:left;
	width:100%;
	min-height:445px;
	border:1px solid #CCC;
	overflow:hidden;
	font-size:18px;
}

.summary p{
	font-size:18px;
	line-height:24px;
	padding:10px;
	text-align:left;
}

.seller_price_box, .user_box, .koala_review, .related_posts{
	float:left;
	padding:10px;
	box-shadow:5px -5px 20px #bebebe;
	-webkit-box-shadow:0 0 20px #bebebe;
	-moz-box-shadow:0 0 20px #bebebe;
	border-radius:10px;
	width:239px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#FFFFFF;
}

.price{
	color: #333333;
    float: right;
    font-size: 24px;
    font-weight: bold;
    margin-right: 37px;
    margin-top: -28px;
}

.price h2{
	float:left;
	width:100%;
	text-align:center;
	font-size:35px;
	padding-bottom:20px;
}

.price a {
    -moz-border-radius: 4px 4px 4px 4px;
    background: -moz-linear-gradient(center bottom , #8EAF32 22%, #AAC84A 81%) repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 28px;
    text-align: center;
}


.price a:hover{
	text-decoration:none !important;
	background-color:#8eaf32 !important;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32);	
	width:auto !important;
}


.user_box{
	margin-top:20px;
}

.user_detail{
	float:left;
}

.user_detail img{
	float:left;
	width:85px;
	height:85px;
}

.user_detail b{
	float: left;
	margin-bottom: 0 !important;
	margin-left: 10px;
	margin-right: 0 !important;
	margin-top: 0 !important;
	width: 115px;
}

.user_detail b img{
	float:right;
	border:0px !important;
	width:18px !important;
	height:18px !important;
}

.user_detail b a{
 	bottom: 4px;
  left: 17px;
  position: relative;
}
.user_detail span{
	float:left;
	margin-bottom: 0 !important;
	margin-left: 10px;
	margin-right: 0 !important;
	margin-top: 5px; !important;
	width: 135px;
}

.contact_us{
	width:93%;
	float:left;
	padding: 20px 20px 10px 0;
	margin-top:24px;
}


.contact_us a {
    -moz-border-radius: 4px 4px 4px 4px;
    background: -moz-linear-gradient(center bottom , #8EAF32 22%, #AAC84A 81%) repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 10px 10px !important;
    text-align: center;
}


.contact_us a:hover{
	text-decoration:none !important;
	background-color:#8eaf32 !important;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32);	
	width:auto !important;
}


.koala_review{
	height:330px;
}

.koala_review1{
	height:708px;
}

.koala_review3{
	height:1348px;
}

.koala_review4{
	height:1182px;
}

.koala_review img{
	float:left;
	margin-right:10px;
	margin-top:-5px;
}

.koala_review h2{
	float:left;
	width:100%;
}

.koala_review b{
	float:left;
	width:100%;
	text-align:center;
	font-size:30px;
	color:#5682a3;
	margin-bottom:10px !important;	
}

.koala_review p{
	float:left;
	width:100%;
	margin:0px;
	line-height:18px;
	font-size:14px;
	text-align:left;
}

.related_posts{
	margin-top:20px;
}
.related_posts a{
	background-image: url("../images/tip.jpg");
	background-position: right center;
	background-repeat: no-repeat;
	float: right;
	font-weight: bold;
	margin-right: 5px;
	margin-top: 10px;
	padding-right: 11px;
	text-align: right;
	width: 100%;
}

.related_posts a:hover{
	text-decoration:underline;
}

.related_posts img{
	float:left;
	margin-right:10px;
	margin-bottom:20px;
}

.related_posts_box{
	float:left;
	width:100%;
}

.related_posts_box a{
	float:left !important;
	font-size:14px !important;
	font-weight:bold;
	margin-bottom:2px;
	width:100%;
	background:none !important;
	text-align:left !important;
}

.related_posts_box a:hover{
	text-decoration:underline;
}
.categories_box span{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#E5E5E5;
	padding:5px 10px 5px 10px;
	margin-right:5px;
}

.categories_box{
	float:left;
	width:100%;
}

#embedded_flash{
	float:left;
	width:100%;
	height:445px;
	overflow:hidden;
}
#embedded_flash embed{
	float:left;
	width:100%;
	height:445px;
	border:1px solid #CCC;
	overflow:auto;
}

.fbFooterBorder{
	display:none !important;
}

.author{
  color: #245A83;
  float: left;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 1px;
  width: 100%;
  font-weight:normal !important;
}

.author b{
  color: #333333 !important;
}

.author img{
  border:0px;
  width:14px;
  height:14px;
  margin-left:5px;
}
.resource_buttons a {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    background: -moz-linear-gradient(center bottom,  #8eaf32 22%, #AAC84A 81%);
		background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81,  #AAC84A));
		background: -moz-linear-gradient(center bottom,  #8eaf32 22%, #AAC84A 81%);
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 10px 10px !important;
    text-align: center;
    float:right !important;
    position:relative;
    top:-35px;
    margin-left:10px;
}


.resource_buttons a:hover{
	text-decoration:none !important;
	background-color:#8eaf32 !important;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32);	
	width:auto !important;
}
.left_side{
		float:left !important;
		width:570px !important;
		padding:20px 22px !important
}

.left_side a{
	text-align:center;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #aac84a 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #aac84a));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #aac84a 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#aac84a, endColorStr=#8eaf32);
	color: #FFF;
	font-size:16px;
	font-weight:bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor:pointer;
	padding:10px;
	float:left;
	margin-left:107px;
	border:medium none;
}

.left_side a:hover{
	text-decoration:none !important;
	background-color:#8eaf32 !important;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32);	
}

.left_side p{
	font-size:14px;
}


.left_side h1{
	margin:20px 0 20px !important;
	float:left;
	color:#245A83;
	width:100%;
	text-align:left !important;
}

.right_side{
	float:right !important;
	margin-top: 20px !important;
	width:230px !important;
}

/* Container */
.verticalslider {  width: 1024px; margin: 0 auto; margin-top: 25px; }


/* Tabs */
.verticalslider_tabs {
	float: right;
	width: 250px;
}
.verticalslider_tabs, .verticalslider_tabs li{
	margin:0 0 0px 12px; 
	padding: 0px;
}
.verticalslider_tabs li{
	list-style-type: none;
}

.right_side a{
	padding:5px;
}

.right_side a:hover{
	text-decoration:underline !important;
	-moz-border-radius: 4px 4px 4px 4px;
  background-color: #E5E5E5;
}
.verticalslider_tabs b{
	width: 100%;
	float:left;
	margin-bottom:5px;
}
.verticalslider_tabs a:link, .verticalslider_tabs a:visited{
	display: block; 
	width: 230px; 
	text-decoration: none;
}

.verticalslider_tabs a:hover, .verticalslider_tabs a:active{ 

}
.verticalslider_tabs li:first-child a:link, .verticalslider_tabs li:first-child a:visited{
	border-top: none;
}
.verticalslider_tabs .activeTab a:link, .verticalslider_tabs .activeTab a:visited{
	background: #ffffff; 
	border-right: 1px solid #ffffff;
}
.verticalslider_tabs .activeTab a:hover, .verticalslider_tabs .activeTab a:active{
	background: #ffffff; 
	border-right: 1px solid #ffffff;
}
.verticalslider .arrow { 
	width: 27px; height: 60px; 
	position: absolute; z-index: 1000; 
	margin-left: 250px; margin-top: -55px; 
}

/* Contents */
.verticalslider_contents{
	float: left;
	width: 500px;
	display: inline; 
	padding: 0px;
}
.verticalslider_contents li{
	margin: 0px; 
	padding: 0px;
	width: 665px; 
	height:auto !important; 
	padding: 0px;
	display: none;
	list-style-type: none; 
}
.verticalslider_contents li p{
	padding: 0px;
	color: #333333;
	font-family: Tahoma, Geneva, sans-serif; 
}
.verticalslider_contents .activeContent{
	display: inline;
}

.features_link, .faq_link, .contact_us_link, .guidelines_box, .about_us{
    float:left;
	border-bottom:1px solid #e3e3e3;
	border-top:1px solid #e3e3e3;
	font-weight:bold;
	width:210px;
	padding-bottom: 10px !important;
    padding-top: 10px !important;
	margin:0px !important;
}

.about_seller p{
	font-size:18px;
	line-height:24px;
	padding:10px;
	text-align:left;
}

.about_seller a{
	font-size:18px;
	line-height:24px;
	padding:10px;
	text-align:left;
}

.features_link a, .contact_us_link a, .guidelines_box a, .about_us a{
	color:#525252;
}

.contact_us_link{
	border:0px !important;
}

.guidelines_box{
	border-bottom:1px sold #e3e3e3;
	border-top:0px !important;
}

.field h2{
	margin-top:20px;
	color:#245A83;
}
/************************
 * Filters
 ***********************/
ul.collapsable_filters{width:234px; color:#787878; background:#ddddd6;}
    li.search_filter{width:234px; position:relative;}
    .search_filter a.filter_header{color:#484848; font-size:14px; font-weight:bold; width:200px; height:19px; overflow:hidden; display:block; padding:5px 17px 3px; text-decoration:none; border:1px solid #C2C2BE; border-width:1px 0; background:#eaeae6 url('/images/page2/v3/filter_header_bg.png') repeat 0 0;}
    .search_filter a.filter_header:hover{background-position:0 -27px;}
    .search_filter a.filter_header:active{background-position:0 -54px;}
    .search_filter a.filter_toggle{width:13px; height:13px; position:absolute; right:15px; top:8px; background:transparent url('/images/page2/v3/filter_toggle_icons.png') no-repeat 0 0; cursor:pointer;}
        .search_filter_content{padding:10px 18px 15px 18px;}

            #lightbox_container_amenities .search_filter_content{-moz-column-count: 2; -webkit-column-count: 2; -moz-column-rule:1px solid #dfdfdf; -webkit-column-rule:1px solid #dfdfdf;}
            #lightbox_container_neighborhood .search_filter_content{-moz-column-count: 2; -webkit-column-count: 2; -moz-column-rule:1px solid #dfdfdf; -webkit-column-rule:1px solid #dfdfdf;}

        /* closed state */
        
        ul.collapsable_filters .closed .search_filter_content{display:none !important;}


#slider_values{overflow:hidden; padding:0; margin-bottom:11px;}

#slider_user_min, #slider_user_max{font-size:14px; font-weight:bold; color:#ffffff; background:#6e6e6a; padding:1px 3px; height:auto; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

#slider_user_min{float:left;}
#slider_user_max{float:right;}


#slider-range{margin-left:6px; width:188px;}

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }


.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; 
background:#FFFFFF; border:1px solid #666666 !important; height:15px; width:15px; 
    border-radius:10px;
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 

    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 6px 9px #6C97B8 inset, 0 1px 3px #AAAAAA; 
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 6px 9px #6C97B8 inset, 0 1px 3px #AAAAAA;
}

.ui-slider-horizontal .ui-state-hover{
    background:#FFFFFF;
    -moz-box-shadow:0 1px 0 #FFFFFF inset, 0 8px 8px #3a6a8e inset, 0 1px 3px #AAAAAA !important; 
    -webkit-box-shadow:0 1px 0 #FFFFFF inset, 0 8px 8px #3a6a8e inset, 0 1px 3px #AAAAAA !important;
}


.seller_right b{
	margin-bottom:10px !important;
	float:left;
	margin-top:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
}

.seller_right p{
	float:left;
	margin-bottom:10px;
}

.seller_right h2{
	margin-bottom:20px;
	
}

.error_field{
	border: 2px solid #cb6119 !important;
}

/*---- payment_page_css ---- */

.inner_round_box{
	float:left;
	border-radius:10px;
	border:1px solid #CCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:550px;
	margin-bottom:10px;
	margin-top:10px;
	background-color:#F0F0E9;
	padding:10px;

}

.inner_round_box b{
	float:left;
	width:100%;
	font-size:16px !important;
	font-weight:bold !important;
	margin:0px !important;
}

.inner_round_box span{
	float:left;
	margin-top:10px;
	line-height:18px;
}

.inner_round_box h4{
	float:left;
	width:100%;
	font-size:12px !important;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px !important;
}

.inner_round_box h5{
	float:left;
	width:100%;
	font-size:12px !important;
	margin:0px !important;
}

.sign_up_box span{
	float:left;
	font-size:12px;
	width:380px !important;
	border-bottom:1px solid #CCC;
	padding:3px;
}

.payment_form, .paymeny_card_box{
	float:left;
	width:280px;
	padding:10px;
}

.field select{
	width:280px;
	border:1px solid #CCC;
}

.card_type{
	width:200px !important;
	margin-left:6px;
}

.day{
	width:50px !important;
}

.birthyear{
	width:68px !important;
}

.question{
	padding-top:10px;
	border-top:1px solid #CCC;
		
}

.question1{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #CCC;
}

.policies{
	float:left;
	width:96%;
	padding:10px;
	border:1px solid #CCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.policies_filed{
	float:left;
	width:94%;
	padding:10px;
}

.policies_filed b{
	float:left;
	width:150px;
	margin:0px !important;
	font-size:14px;
}

.policies_filed span{
	float:left;
	width:390px;
}


.policies_filed a{
	-webkit-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom , #8EAF32 22%, #AAC84A 81%) repeat scroll 0 0 transparent;
	-moz-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #AAC84A 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #AAC84A));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #AAC84A 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#AAC84A);	
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	text-align: center;
}	


.policies_filed a:hover{
	text-decoration:none !important;
	background-color:#8eaf32 !important;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32);	
	width:auto !important;
}

.field, .follow_field{
	float:left;
	width:100%;
	margin-bottom:10px;	
}

.follow_field{
	float:left;
	margin-top:50px !important ;
}

.follow_field a{
	background:none !important;
	padding:0px !important;
	margin:0 20px 0 0 !important
	
}

.follow_field a:hover{
	background:none !important;
}

.follow_field label{
	float:left;
	width:100px;
	margin-top:5px;
	padding-left:8px;
}
.follow_field img{
	border:0px;
}


.form{
	float:left;
	width:330px;
}

.register_form img{
	float: left;
	width: 177px;
}

.register_form i{
	float: left;
	font-size: 9px;
	margin-top: 10px;
}

.facebook_like1, .facebook_like2, .facebook_like3 {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.facebook_like1 span, .facebook_like2 span, .facebook_like3 span {
    float: left;
    font-size: 14px;
}
.facebook_like1 a, .facebook_like2 a, .facebook_like3 a {
    -moz-border-radius: 4px 4px 4px 4px;
    background: -moz-linear-gradient(center bottom , #8EAF32 22%, #AAC84A 81%) repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px !important;
    font-weight: normal !important;
    margin-left: 20px !important;
    padding: 3px !important;
    text-align: center;
}
.field a {
    -moz-border-radius: 4px 4px 4px 4px;
    background: -moz-linear-gradient(center bottom , #8EAF32 22%, #AAC84A 81%) repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 5px 10px !important;
    text-align: center;
}

 .field a:hover{
 text-decoration:none !important;
 background-color:#8eaf32 !important;
 background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
 background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
 background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32); 
}

.field input#submit {
    -moz-border-radius: 4px 4px 4px 4px;
    background: -moz-linear-gradient(center bottom , #8EAF32 22%, #AAC84A 81%) repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 5px 10px !important;
    text-align: center;
}

.facebook_like1 a:hover, .facebook_like2 a:hover, .facebook_like3 a:hover{
 text-decoration:none !important;
 background-color:#8eaf32 !important;
 background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
 background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
 background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32); 
}

.field b {
  color: #525252;
  float: left;
  font-size: 16px;
  width: 540px;
}

.field p {
  float: left;
  margin-bottom: 30px;
  margin-top: 5px;
  width: 540px;
}

.field img {
    float: left;
    margin-right: 10px;
}

.footer_menu li input{
	margin-top:-5px;
	color: #848484;
	font-size:12px;
}

/*--- admin_dashbord---- */

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	text-align:left;
	background: #fff;
}
.tab_content {
	font-size: 1.2em;
	float:left;
	text-align:left;
}

.users_table, .user_detail{
	float:left;
	width:100%;
	padding:10px;
}

.users_table ul{
	margin:0px;
	padding:0px;
}

.users_table li{
	float:left;
	list-style:none;
	list-style-type:none
}

.name{
	width:250px;
}
.title_company{
	width:470px;
}
.edit_post{
	width:150px;
}
.delete_post{
	width:100px;
}

.pagination{
	width:57%;
	text-align:center;
	margin:10px 0px 10px;
}

#toggle_views{
	float: right;
}


.faq{
	border:0px !important;
}

/*-- download page css --- */

.download_box{
	float:left;
	width:100%;
	margin-bottom:10px;
}

.spread img{
	border:0px;
}

.heading{
	float:left;
	width:100%;
	margin-bottom:10px;
}

.heading h2{
	float:left;
	font-size:24px;
	margin-bottom:20px;
}

.download_image{
	float:left;
	width:135px;
	text-align:center;
}

.download_image img{
	float:left;
	width:128px;
	height:128px;
	border:1px solid #CCC;
}

.download_image i{
	width:150px;
	text-align:center;
	float:left;
	margin-top:8px;
}

.download_text{
	float:left;
	width:480px;
}

.download_text b{
	float:left;
	width:70%;
	font-size:18px;
	margin-left:10px;
}

.download_text span{
	float:left;
	width:70%;
	font-size:14px;
	margin-left:10px;
}
.spread{
	float:left;
	width:100%;
	margin-top:10px;
}

.spread h2{
	margin-bottom:20px;
	font-size:24px;
}

.spread a{
	margin-right:8px;
}


.error_image{
	float:left;
	width:450px;
}
.error_text{
	float:left;
	width:500px;
}

.error_text h1{
	float:left;
	text-align:left !important;
	font-size:150px;
}

.error_text h2{
	float:left;
	width:100%;
	text-align:left !important;
	font-size:72px;
}

.error_text h3 {
    float: left;
    font-size: 36px;
    font-weight: bold;
    text-align: left !important;
    width: 100%;
	line-height:0px !important;
	margin-bottom:0px;
}

.error_text h4 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: left !important;
    width: 100%;
	line-height:0px !important;
	margin-bottom:0px;
}

.flash{
	  -moz-border-radius: 4px 4px 4px 4px;
    background-color: #F5F69B;
    color: #245B83 !important;
    padding: 14px !important;
    width: 250px;background-color: #F5F69B;
    margin:10px 0;
}


.inner_link{
		float:left;
		width:240px;
    margin:0px;
    padding:0px;
}

.inner_link li{
    list-style:none;
    margin:5px;
}

.inner_link a{
    float:left;
    padding:5px;
		margin-left:8px;
		font-weight:normal !important;
    color:#245A83;
}

.loading{
	float:right;
}

.loading img{
	width:32px;
	height:32px;
}

.user_name_box{
	float: left;
  height: 20px;
  margin-left: 10px;
  overflow: hidden;
  padding-top: 5px;
  width: 35%;
}


.tags_box span{
	  -moz-border-radius: 4px 4px 4px 4px;
    background-color: #E5E5E5;
    float: right;
    margin-right: 5px;
    padding: 5px 10px;
}

.tags_box{
	float:right;
	width:60%;
}

.price_rang{
	float: left;
	width:352px;
	height: 135px;
}

.field h2{
    float: left;
    width:100%;
}

.price_rang h2 {
	float:left;
	width:340px;
	background-color:#bebeb4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px 5px 5px 10px;
	font-size:16px;
	margin:0px;
	color:#245A83;
}

.suggestion{
	-moz-border-radius: 5px 5px 5px 5px;
  color: #BEBEB4;
  float: left;
  margin-top: 5px;
  width: 344px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

.add_more{
	float:left;
	height: 29px;
  left: -5px;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  width: 66px;
	background:url(/images/add_button.jpg) repeat-x 0 0; 
	
}

.price_line{
	border-left: 1px solid #000000;
	float: left;
	height: 20px;
	position: relative;
	right: 42px;
	top: 61px;
}

#industry_result p{
	float: left;
	font-size: 12px;
	margin-right: 10px;
	padding: 5px 5px 5px 10px;
	width: 275px;
	margin-top:0px !important;
	background-color:#FFF;
	margin-bottom: 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#industry_result span{
	float: left;
	font-size: 12px;
	padding: 5px 5px 5px 10px;
	width: 40px;
	margin-top:0px !important;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}



#geography_result p{
	float: left;
	font-size: 12px;
	margin-right: 10px;
	padding: 5px 5px 5px 10px;
	width: 275px;
	margin-top:0px !important;
	background-color:#FFF;
	margin-bottom: 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#geography_result span{
	float: left;
	font-size: 12px;
	padding: 5px 5px 5px 10px;
	width: 40px;
	margin-top:0px !important;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.reset_button {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    background: -moz-linear-gradient(center bottom,  #8eaf32 22%, #AAC84A 81%);
		background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81,  #AAC84A));
		background: -moz-linear-gradient(center bottom,  #8eaf32 22%, #AAC84A 81%);
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 5px !important;
    text-align: center;
    float:right !important;
    position:relative;
}


.reset_button:hover{
	text-decoration:none !important;
	background-color:#8eaf32 !important;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	background: -webkit-gradient(linear,left bottom, left top, color-stop(0.22, #8eaf32), color-stop(0.81, #8eaf32));
	background: -moz-linear-gradient(center bottom, #8eaf32 22%, #8eaf32 81%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8eaf32, endColorStr=#8eaf32);	
	width:auto !important;
}

.how_it_works_field{
	float:left;
	margin-top:5px;
	margin-bottom:40px;
}

.how_it_works_field2{
	float:left;
	margin-top:5px;
	margin-bottom:40px;
}

.how_it_work_left_side{
	float:left;
	width:750px;
}

.how_it_work_left_side h1{
    color: #245A83;
    float: left;
    margin: 20px 0 !important;
    text-align: left !important;
    width: 100%;
}

.image_box{
    float:left;
    width:350px;
    text-align:center;
}

.text_box{
    float:left;
    width:360px;
}

.text_box img{
    float:right;
    text-align:center;
}
.ac_results{
	margin-top:-1px !important;
	width : 354px !important;
	background:#FFF;
	border:1px solid #CCC !important;
}

.profile_heading{
		float: left;
    font-size: 28px;
    font-weight: bold;
    margin: 10px 5px;	
}


.profile_boxs{
	float:	left;
	text-align:center;
	width:100%;
	margin:0px auto;
	margin-left:90px;
}

.profile_box{
	width:375px;
	float:left;
	margin-right:20px;
	border:3px solid #E9E9E9;
}

.inner_profile_box{
	float:left;
	width:271px;
	float:left;
	padding:50px;
	border:2px solid #FFF;
	background-color:#F2F2F2;
	height:271px;
}

.inner_profile_box:hover{
	background:#E9E9E9;
}

.inner_profile_box img{
	margin-top:60px;
	border:0px;
}

.inner_profile_box span{
	float:left;
	text-align:center;
	font-size:16px;
	color:#333;
	font-weight:bold;
	width:100%;
}

.result_count p{
	float: left;
	font-size: 12px;
	margin-right: 10px;
	padding: 5px 5px 5px 10px;
	width: 275px;
	margin-top:0px !important;
	background-color:#FFF;
	margin-bottom: 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.result_count span{
	float: left;
	font-size: 12px;
	padding: 5px 5px 5px 10px;
	width: 40px;
	margin-top:0px !important;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.web_link{
	font-size: 18px !important;
  line-height: 24px !important;
  text-align: left !important;
	color:#525252 !important;
	background:none !important;
}

.web_link a:hover{
	font-size: 18px !important;
  line-height: 24px !important;
  text-align: left !important;
	color:#525252 !important;
	background:none !important;
}

.inner_profile_box {
    background-color: #F2F2F2;
    border: 2px solid #FFFFFF;
    float: left;
    height: 289px;
    padding: 45px 0 0;
    width: 183px;
}

.profile_box b, .post_box b {
    background-color: #F2F2F2;
    color: #333333;
    float: left;
    font-size: 28px;
    margin: 0;
    padding: 10px;
    text-align: center !important;
    width: 355px;
}

.inner_post_box {
    background-color: #F2F2F2;
    border: 2px solid #FFFFFF;
    float: left;
    height: 234px;
    padding: 50px;
    width: 271px;
}
