@charset "utf-8";
/* CSS Document */

body {
  font-size: 12px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", "Arial", "FreeSans", sans-serif;
	background-color:#f0e3d5;
	/*background-image:url(../images/background.jpg);*/
	background-repeat:repeat;
	color: #245A83;
	margin:0px;
}


/* text, headers & paragraphs */
h1, h2, h3, h4, h5, h6 {
  color: #4c4c4c;
  font-weight: bold;
}

/* page title text */
h1 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 28px;
  margin: 6px 0 6px 0;
  color: #0F2E4D;
}

/* detailed page title */
h2 {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #333;
  line-height: 28px;
  margin: 12px 0 6px 0;
  font-weight: bold;
}

/* sidebar header / sub header */
h3 {
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #333;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 12px;
}


/* miscellaneous paragraph titles, listed resource titles */
h4 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 18px;
}

/* descriptive attributes, usually formatted in a padded box */
h5 {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  line-height: 14px;
}


/* footnotes */
h6 {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  line-height: 14px;
}

p {
  line-height: 18px;
  margin:0px;
}

/* links */
a {}
a:link,
a:visited {
  color: #245a83;
  text-decoration: none;
}
a:hover,
a:active {
  color: #297acc;
}

a:focus {
  outline: #303d49 dotted thin;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
}

.main {
	float:left;
	width: 100%;
	height:100%;
	margin: 0 auto;
}

.header{
	float:left;
	width:100%;
	background-image:url(../images/header_bg.jpg);
}

.header_inner{
	margin:0px auto;
	width:1024px;	
}


.logo{
    float: left;
    height: 57px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 332px;	
}

.main_menu{
	float:right;
	width:244px;
	margin-top:20px;
}

.main_menu ul{
	margin:0px;
	padding:0px;
}

.main_menu li{
	float:left;
	width:52px;
	list-style:none;
	list-style-type:none;
}

.main_menu a{
	float:left;
	padding: 10px 9px;
	background-color:#d15139;
	font-weight:bold;
	color:#FFF;
}

.left_contant{
	float:left;
	width:65%;
	padding-top:20px;
}

.selling_buying_box{
	float:left;
	width:100%;
	margin-bottom:20px;
}


.post{
	float:left;
	width:100%;
	margin-bottom:20px;
	margin-top:10px;
}

.post img{
	float:left;
	width:42px;
	margin-right:10px;
}

.description{
	background-color:#FFF;
	padding:5px;
	float:left;
	width:400px;
}

.download{
	float:left;
	width:100%;
	margin-left:53px;
	margin-top:2px;
}

.message{
	float:left;
	width:102px;
	padding-left:15px;
}

.mail_button{
	float:left;
	background-image:url(../images/mail.jpg);
	border:medium none;
	width:22px;
	height:17px;
	margin-top:5px;
	cursor:pointer;
}

.message img{
	width:auto !important;
	margin-left:10px;
}

.message span{
	float:left;
	width:100%;
}

.right_contant{
	float:left;
	width:32%;
	padding-top:65px;
}

.create_id{
	float:left;
	width:100%;
}

.field{
	float:left;
	width:100%;
	margin-bottom:10px;
	margin-left:55px;
}

.atach_field{
	float:left;
	width:100%;
	margin-bottom:10px;
	margin-left:55px;
}

.atach_field label{
	float: left;
    padding-top: 7px;
    width: 50px;
}

.atach_field i{
	float: left;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 9px;
}

.atach_field input{
	float: left;
  font-size: 10px;
}

.sample, .actual{
	float:left;
	width:90px;
	margin-right:10px;
	padding:6px;
	border: 1px solid #7F7F7F;
}

.post_checkbox{
	float:left;
	margin-left:50px;
	margin-top:10px;
}

.actual{
	margin-right:0px !important;
}

.field input{
	border: 1px solid #7F7F7F;
	padding:6px;
  width: 205px;
}

.field textarea{
	border: 1px solid #7F7F7F;
	padding:6px;
  width: 205px;
  height : 100px;
}

.field select{
	border: 1px solid #7F7F7F;
	padding:6px;
    width: 218px;
}

.field label{
	float: left;
  padding-top: 7px;
  width: 50px;
}

.field i{
	float: left;
  font-size: 10px;
  margin-left: 49px;
  margin-top: 5px;
	color:#666;
  width: 85%;
}

.submit{
	background-color: #D15139;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin-left: 104px;
    padding: 8px;
    width: 220px;
}

.subscribe_box{
	float:left;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	background-color:#d8ab7a;
	padding:5px;
	width:315px;
	margin-top:20px;
	margin-left : 100px;
}

.subscribe_box span{
	float:left;
	margin-left:50px;
	background-color:#FFF;
	border:1px solid #999;
	padding:10px;
	width:157px;
}

.twitter img{
	border: medium none;
    float: left;
    margin-top: 3px;
}

.facebook img{
	float:left;
	border:medium none;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 3px;
}

.fbconnect{
	float:right;
}
.fbconnect img{
	padding:2px;
	width: 100px;
}
.login_buttons{
	float:left;
	margin-left:150px;
}
.submit_login{
	float:left;
	background-color: #D15139;
	border: medium none;
	color: white;
	cursor: pointer;
	float: left;
	font-weight: bold;
	width: 100px;
	height:25px;
}
