<%= flash[:notice] unless flash[:notice].blank?%>
<br/>
<% unless @user.payment_preference.option.blank? %>
<h2>Payment option:</h2><%= @user.payment_preference.option%>
<%end%>

<% unless @user.payment_preference.address.blank?%>
<br> <h2>Address Details:</h2> <%= @user.payment_preference.address%>
<% end %>

<% unless @user.payment_preference.paypal.blank?%>
  <br> <h2>Paypal:</h2> <%= @user.payment_preference.paypal%>
<% end %>