<% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
<br/>
<% unless @user.payment_preference.blank? %>
  <% unless @user.payment_preference.option.blank? %>
      <h2> Payment option:</h2><%= @user.payment_preference.option%>
  <%end%>

  <% if !@user.payment_preference.address.blank? && @user.payment_preference.address?%>
      <br> <h2>Address Details:</h2> <%= @user.payment_preference.address%>
  <% elsif !@user.payment_preference.paypal.blank? %>
      <br> <h2>Paypal:</h2> <%= @user.payment_preference.paypal%>
  <% end %>
<% end %>
