<div class="users_table">
	<table border="0" cellspacing="5" cellpadding="5" id=" posts_table" align="left">
  	<tbody>
  		<tr>
  		  <th width="100"><b>Title</b></th>
  		  <th width="85">Price</th>
  		  <th width="85">Date</th>
  		  <th width="85">Action</th>
  		  <th></th>
  		</tr>
  		<% purchases.each.each do |order, index|%>
  		  <tr>
  		    <td><%= order.resource.title%></td>
  		    <td >$ <%= order.resource.selling_price %></td>
  		    <td ><%= order.created_at.strftime("%B %d") %></td>
          <td><%= link_to "Download", :controller => 'purchases', :action => 'download', :id => order.resource.id%></td>
  		  </tr>
  		<% end %>
  	<tbody>
</table>
</div>