<% content_for :html_title, 'Subscribe to Newsletter' %>
<div id="subscribe" style="margin-bottom:50px;">
<%= form_tag :controller => "users", :action => "subscribe_newsletter" %>
	<div class="field">
		<label>Name</label>
		<%= text_field 'user', 'name' %>
	</div>
	<div class="field">
		<label>Email</label>
		<%= text_field 'user', 'email', :value => "#{params[:email]}" %>
	</div>
	<div class="sign_up_button"><%= submit_tag 'Subscribe' %></div>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
	$("form").submit(function(){
    if ($("#user_name").val()=="" || $("#user_email").val()==""){
    	$("#user_name").addClass("error_field");
    	$("#user_email").addClass("error_field");
    	return false;	
    }

});
</script>
