<% if @resources.count > 0%>
  <select name="test" id="test">
  	<% @resources.each do |resource| %>
  	 <option value="<%= resource.id %>"><%= resource.title %></option>
  	<% end %>
  </select>
<% else %>
  <p>There are no reports for this publisher</p>
<% end %>