
<div class="fixed_box">
  <script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/rangeinput.css"/>
    <div class="price_rang">
      <h2>Price Range</h2>
      <span class="start_range">$0</span>
      <span class="price_line">&nbsp;</span>
      <input type="range" name="test" min="0" max="1000" value="1000" class="range"/>
    </div>
    <!--
    <div class="field">
      <label>Name</label>
      <input type="text" name="suggest" min="0" value="" class="suggestion" id="author_name" />
    </div>
    -->
    <div class="field price_rang">
      <h2>
        Industry
        <input type="button" class="reset_button" name="reset" value="Reset" id="reset" />
      </h2>
      <input type="text" name="suggest" min="0" value="Start typing to begin" class="suggestion" id="industry" />
    </div>
    <div class="field" id = "industry_result" >
    </div>
    <div class="field price_rang">
      <h2>
        Geography
        <input type="button" class="reset_button" name="reset" value="Reset" />
      </h2>
      <input type="text" name="suggest" min="0" value="Start typing to begin" class="suggestion" id="geography" style="border: 1px thin #CCC !important;"/>
    </div>
    <div class="field" id = "geography_result" ></div>
</div>
