
<div class="fixed_box">
    <link rel="stylesheet" type="text/css" href="/stylesheets/rangeinput.css"/>
    <div class="price_rang">
      <h2>Price Range</h2>
      <span class="start_range">$0</span>
      <span class="price_line">&nbsp;</span>
      <input type="range" name="test" min="0" max="5000" value="5000" class="range"/>
    </div>
    <div class="field price_rang">
      <h2>
        Industry
      </h2>
      <input type="text" name="suggest" min="0" value="Start typing to begin" class="suggestion" id="industry" />
    </div>
    <div class="field" id = "industry_result" >
    </div>
    <div class="field price_rang">
      <h2>
        Geography
      </h2>
      <input type="text" name="suggest" min="0" value="Start typing to begin" class="suggestion" id="geography" style="border: 1px thin #CCC !important;"/>
    </div>
    <div class="field" id = "geography_result" ></div>
    <div class="field price_rang">
      <h2>
        Post Type
      </h2>
      <div class="field">
        <select name="post_type" id="post_type">
          <option value="All" selected="selected">All</option>
          <option value="published">Published</option>
          <option value="offered">Offered</option>
        </select>
      </div>
    </div>

</div>
<script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>
