<div class="purchase_box">
  <div class="author_image_box">
    <%= (image_tag @resource.user.profile.photo.url(:seller)) unless (@resource.user.profile.blank? || @resource.user.profile.photo_file_name.blank?) %>
  <%= (image_tag "avatar_70.png") if @resource.user.profile.blank? || @resource.user.profile.photo_file_name.blank?  %>
  </div>
  <div class="author_name">
    <% unless @resource.user.profile.name.blank? %><b><%= (link_to ( truncate @resource.user.profile.name, :omission => "...", :length => 19), :controller => 'profiles', :action => 'profile_page', :url_slug => @resource.user.profile.url_slug) if @resource.user.profile.is_edited %><% end %></b>
  </div>
  <% unless (!current_user.blank? && current_user.id == @resource.user_id) %>
    <div class="contact_button" style="padding-top:2px;">
      <a class="grey_button" href="#message_form" id="message_link" >Send Message</a>
    </div>
  <% end %>
</div>
