<script>
function showTab(value) 
{
if(value == "one")
{
document.getElementById('tabOne').style.display = "block"
document.getElementById('tabTwo').style.display = "none"

document.getElementById('tab1').style.background = "#FFFFFF"
document.getElementById('tab1').style.color = "#245a83"

document.getElementById('tab2').style.background = "#bfbfb5"
document.getElementById('tab2').style.color = "#FFFFFF"

return true;
}
if(value == "two")
{
document.getElementById('tabOne').style.display = "none"
document.getElementById('tabTwo').style.display = "block"

document.getElementById('tab2').style.background = "#FFFFFF"
document.getElementById('tab2').style.color = "#245a83"

document.getElementById('tab1').style.background = "#bfbfb5"
document.getElementById('tab1').style.color = "#FFFFFF"

return true;
}
}
</script>

<div class="content">
	<div class="content_back">
		<div class="round_box">
		<h3>1. How it works</h3>
		<div class="inner_round_box">
		<p>Please fill out your payment details below to complete your purchase. Once you click on 'Submit', we'll verify your payment information, and you'll then be able to download the file you purchased. Any questions? check out the FAQs section or shoot us an e-mail at admin@researchnation.net</p>
		</div>
		<h3>2. Your Purchase</h3>
		<div class="inner_round_box">
		<b><%= @resource.title %></b>
		<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
		<h4>Real post</h4>
		<h5>Here is tag</h5>
		</div>
		<h3>3. Payment Details</h3>
		<div class="login_tab">
		<a class="login" id="tab1">PayPal</a>
		</div>
		<h3>4. Agreement</h3>
		<div class="policies">
		<div class="policies_filed">
		<b>Name</b>
		<span>Description</span>
		</div>
		<div class="policies_filed">
		<b>Name</b>
		<span>Description</span>
		</div>
		</div>
		<div class="policies_filed">
		<input type="checkbox" name="accept" value="" /> I agree to the Privacy Statement and Terms and Conditions.
		</div>
		<div class="policies_filed">
		<a href="#">Submit</a>
		</div>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="G2Q4RDXZNTP6N">
			<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
</div>
