<%= javascript_include_tag :defaults %>

<div class="content">
	<div class="search_content">
    <div class="left_content" id="left_content">
      <%= render :partial => 'posts'%>
    </div>
    <div class="right_content">
    	<div class="fixed_box"
        <script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>
          <!-- rangeinput styling -->
          <link rel="stylesheet" type="text/css" href="/stylesheets/rangeinput.css"/>
          <!-- HTML5 range input -->
          <input type="range" name="test" min="0" max="1000" value="150" class="range" />
          <input type="text" name="suggest" min="0" value="" class="suggest" id="suggest" />
          <!-- make it happen -->
          <script>
            jQuery(":range").rangeinput().change(function(){
              url = "/resources/filter_by_price?price=" + jQuery(this).val();
              new Ajax.Updater('left_content', url, {asynchronous: true,});
            });
          </script>
        </div>
      </div>
  	</div>
  </div>
</div>


