  <div class="facebook_facepile">
  Facebook FacePile
    <iframe src="http://www.facebook.com/plugins/facepile.php?href=researchnation.net&amp;width=200&amp;max_rows=5" scrolling="no" frameborder="1" style="border:none; overflow:hidden; width:200px;" allowTransparency="true"></iframe>
  </div>
