<div class="footer_menu">
	<ul>
      <li><a href="/main/about" id="about_us">About Us</a></li>
      <li><a href="http://blog.researchnation.net/" target="_blank">Blog</a></li>
      <li><a href="/main/faqs">FAQs</a></li>
      <li><a href="/main/guidelines">Guidelines</a></li>
      <li><a href="/main/contact">Contact Us</a></li>
      <li style="border-right:none;"><%= link_to "Privacy & Terms", :controller => 'main', :action => 'privacy' %></li>
    </ul>
</div>