<div class="footer_menu">
	<ul>
      <li><%= link_to "About Us", :controller => 'main', :action => 'about_us' %></li>
      <li><a href="#">Blog</a></li>
      <li><%= link_to "FAQs", :controller => 'main', :action => 'faq' %></li>
      <li><%= link_to "Contact Us", :controller => 'main', :action => 'contact_us' %></li>
      <li><%= link_to "Terms & Conditions", :controller => 'main', :action => 'terms_and_conditions' %></li>
    </ul>
    <ul class="footer_box">
      <li><span>Join us on:</span> <a href="#">Twitter</a><span> & </span><a href="#"> Facebook</a></li>
      <li style="border:none !important; width:336px !important"><span style="margin-right:5px;">Sign up for:</span><input type="text" size="27" value="Enter Your Email Address" name="E-mail"></li>
    </ul>
</div>
