<div class="footer_menu">
	<ul>
      <li><a href="/main/about" id="about_us">About Us</a></li>
      <li><a href="http://blog.researchnation.net/" target="_blank">Blog</a></li>
      <li><a href="/main/faqs">FAQs</a></li>
      <li><a href="/main/guidelines">Guidelines</a></li>
      <li><a href="/main/contact">Contact Us</a></li>
      <li><%= link_to "Privacy & Terms", :controller => 'main', :action => 'privacy' %></li>      
      <li style='padding:0px 15px !important'>Telephone: +442081443220</li>
	  <li style='padding:0px 15px !important; border-right:none;'>Email: admin@researchnation.net</li>
    </ul>
</div>