<div class="footer_menu">
	<ul>
      <li><a href="/main/how_it_works#about_us" id="about_us">About Us</a></li>
      <li><a href="/main/how_it_works#faqs">FAQs</a></li>
      <li><a href="/main/how_it_works#contact_us">Contact Us</a></li>
      <li><%= link_to "Privacy", :controller => 'main', :action => 'privacy' %></li>
      <li><%= link_to "Terms & Conditions", :controller => 'main', :action => 'terms_and_conditions' %></li>
    </ul>
    <ul class="footer_box">
      <li><span>Join us on:</span> <a href="#">Twitter</a><span> & </span><a href="#"> Facebook</a></li>
      <form name="subscribe" id="subscribe" method="post" action="/users/subscribe" >
        <li style="border:none !important; width:336px !important"><span style="margin-right:5px;">Sign up for:</span><input type="text" size="27" value="Enter Your Email Address" name="email" class="email_address" ></li>
        </form>
    </ul>
</div>
