<%= render :partial => '/layouts/header' if params[:page]%>
<%= stylesheet_link_tag 'style'%>
  <% @resources.each do |resource| %>
  <div class="post_<%= resource.id %>">
    <img src="http://graph.facebook.com/<%= resource.user.facebook_uid %>/picture" />
    <div class="description">
      <%= link_to resource.title , :controller => "resources", :action => "what_others_are_selling", :id => resource.id %>
    </div>
    <div class="message">
      <img src="/images/Skype.jpg" width="29" height="28" />
      <a href="#" data-reveal-id="myModal" id="abc"><input class="mail_button" type="button" name="mail" value="<%= resource.user.email %>" /></a>
      <span>2 mutual friends</span>
    </div>
    <div class="download"> $<%= resource.selling_price %>  <%= link_to "| download sample", :controller => 'resources', :action => 'download', :id => resource.id unless resource.attachments.blank? %><%= "|" if logged_in? and session[:user] == resource.user.id %> <%= (link_to_remote 'delete' , :url => {:controller => 'resources', :action => 'delete', :id => resource.id } , :confirm => 'Are you sure you want to delete this post?', :update => 'results') if logged_in? and session[:user] == resource.user.id %></div>
  </div>

  <div id="myModal" class="reveal-modal" >
     <form method="post" id="contact_form" action="/main/send_mail_to_seller/?email=<%= resource.user.email %>"><div style="margin: 0pt; padding: 0pt; display: inline;"><input type="hidden" value="61mqa83kT7zgy+tfFCAk7YlOj/PkvuA1GsTGyLY4Nek=" name="authenticity_token"></div>
      <h2>Contact <%= resource.user.first_name %></h2>
      <div class="contact">
        <b>Name</b>
        <input type="text" name="contact[name]" id="contact_name" class="required" >
      </div>
      <div class="contact">
        <b>Email</b>
        <input type="text" name="contact[email]" id="contact_email" class="required validate-email">
      </div>
      <div class="contact">
        <b>Subject</b>
        <input type="text" name="contact[subject]" id="contact_subject" class="required">
      </div>
      <div class="contact">
        <b>Message</b>
        <textarea name="contact[message]" rows="8" cols="40"></textarea>
      </div>
      <div>
        <input type="submit" value="Send Message" name="commit">
      </div>
    </form>
     <a class="close-reveal-modal">&#215;</a>
</div>
  <% end %>
<%= will_paginate @resources %>
